[2019-03-11 16:30] yaichenbaum opened #2 "Add find and replace"
Find and replace option.

[2019-07-28 18:27] yaichenbaum opened #6 "Add more themes"
Add a way from settings to have custom acrylic brushes in addition to dark and light. We should also address the brush going to fallbackcolor when not focused by using a custom brush.

[2019-07-28 18:29] yaichenbaum opened #7 "Show preview of font styles in the font box"
Have the items in the font box use the font of that item to preview what it will look like. This change should apply to the font box on the actual editor as well as in the settings dialog that lets you choose the default font.

[2019-07-28 18:32] yaichenbaum opened #8 "Clicking the emoji button should open the system one"
Clicking on the emoji button should launch the one thats built in to Windows 10 since that will give the user access to way more emojis as well as the option to search them.

[2019-07-29 23:04] yaichenbaum opened #9 "Add markdown support"

[2019-07-29 23:39] yaichenbaum opened #10 "Share should share file instead of text"
The share option should share the document, if it is unsaved it should save it as a temporary one and delete it (when closing the app to give enough time for the user to finish the action?)

[2019-07-29 23:41] yaichenbaum opened #11 "Show formatting status on the command bar"
If the selected text is bold for example the bold button should be highlighted to reflect that. This applies to all buttons including the alignment options.

[2019-07-29 23:42] yaichenbaum opened #12 "Keyboard accelerator for entering and exiting Focus Mode"
There needs to be a keyboard shortcut such as ctrl + shift + f or something of the sort to open and close Focus Mode from the keyboard.

[2019-07-30 03:01] yaichenbaum opened #13 "File preview from taskbar not showing the right save status"
![image](https://user-images.githubusercontent.com/39923744/62097427-c4c8c600-b254-11e9-8e96-1b4f6928c6d1.png)

[2019-07-30 03:29] yaichenbaum opened #14 "If you drag in a file when you first open the app it asks you to save the document even though there are no changes to save"
if you drag in a file when you first open the app it asks you to save the document even though there are no changes to save.

[2019-07-30 12:26] yaichenbaum opened #16 "dragging a file in when a file is open already does not ask you to save, it saves the file without asking you and then loads the new one"
Dragging a file in when a file is open already does not ask you to save, it saves the file without asking you and then loads the new one.

[2019-07-30 12:33] yaichenbaum opened #17 "Clicking yes to save file causes issue with font size"
If you click yes in the dialog when exiting the app that asks if you want to save your work it saves but resets the font size so if you open it the font size will be small. Before the update it did not behave like this.

[2019-07-30 12:39] yaichenbaum opened #18 "Changing the style does not register as a change that needs to be saved"
After the update if I change the font size, make it bold etc it does not realize there is unsaved text.

[2019-07-30 21:02] #14 closed

[2019-07-30 23:39] yaichenbaum opened #19 "Method of checking the length is flawed"
The method of checking the length is flawed since I can replace a letter with a different one and it wont detect there is a change to save.

[2019-08-04 02:33] #16 closed

[2019-08-04 02:34] #19 closed

[2019-08-05 20:34] #18 closed

[2019-08-05 20:34] #17 closed

[2019-08-05 20:34] #13 closed

[2019-08-05 20:36] yaichenbaum opened #23 "Asks you to save the document even though there are no changes to save"
When the app is first opened or you open a new file it has a star before the title and thinks there are unsaved changes, the star should only come when there is a change, and go away when saved.

[2019-08-06 01:13] #23 closed

[2019-08-06 23:17] yaichenbaum opened #26 "Add option to set classic mode as the default launch mode"
In settings there should be an option to set the default launch mode to classic mode.

[2019-08-06 23:22] yaichenbaum opened #27 "Follow this style for the command bar menu"
![image](https://user-images.githubusercontent.com/39923744/62583733-6a94ba00-b87f-11e9-970b-600473da24f1.png)
In the MVVM branch the style is different.

[2019-08-06 23:50] yaichenbaum opened #28 "Create crash page"
Might help users if there was a crash page that would show when the app crashes (does it ever? 😀) Users are likely to just copy and paste a screenshot here of the crash page so it should -

- [ ] Include useful information about what they clicked before it crashed
- [ ] Include app version number

[2019-08-06 23:56] yaichenbaum opened #29 "Add jumplist tasks for launching in different modes"
This would add quick actions (tasks) when right clicking on the apps icon as done in the calculator app for example.
It can have an option to launch the app in

- [x] Compact Overlay Mode
- [x] Focus Mode
- [x] Classic Mode

![image](https://user-images.githubusercontent.com/39923744/62584821-2526bb80-b884-11e9-8a0d-f1743a608ca8.png)

[2019-08-07 00:09] yaichenbaum opened #31 "Switching to on top mode from classic mode still shows the menu bar"
![image](https://user-images.githubusercontent.com/39923744/62585259-f4e01c80-b885-11e9-9816-697069872994.png)

[2019-08-07 00:11] yaichenbaum opened #32 "Reveal affect missing in Classic Mode branch"
The reveal border affect is missing from items in drop down combo boxes in the Classic Mode branch.

[2019-08-07 00:17] yaichenbaum opened #33 "Zoom options"
Add a way to zoom in and out, possible ways a user may try is

- [x] click on an option in the view menu on classic mode.
- [x] ctrl + +
- [x] ctrl + -
- [x] Pinch to zoom on the track pad
- [x] ctrl + scroll in and out with mouse.

[2019-08-07 00:18] yaichenbaum opened #34 "Optional status bar for classic mode"
- [x] Should be on by default.
- [x] Should not overlap on textbox
- [x] Should show current column and line the courser is at

Changes needed
- [x] Make save status icon a little smaller.
- [x] Save status icon should not push over the other textblocks when the ellipse shows.

[2019-08-07 00:22] yaichenbaum opened #35 "Pressing new and clicking no to discard changes keeps a star to indicate unsaved changes."
Happens in the MVVM branch

[2019-08-07 01:58] #35 closed

[2019-08-07 02:00] yaichenbaum opened #36 "Keyboard shortcuts for classic mode"
There should be keyboard shortcuts for saving, opening etc in classic mode.

[2019-08-07 02:04] yaichenbaum opened #37 "Logic for switching modes"
If I am in classic mode and switch to on top mode then going out of on top mode should go back to classic mode.
If I am in classic mode and switch to focus mode then going out of focus mode should go back to classic mode.
If I am in default mode and switch to on top mode then going out of on top mode should go back to default mode.
If I am in default mode and switch to focus mode then going out of

[2019-08-08 01:01] #8 closed

[2019-08-08 02:28] #37 closed

[2019-08-08 02:30] yaichenbaum commented on #31
Fixed in #37

[2019-08-08 02:30] #31 closed

[2019-08-08 03:37] yaichenbaum commented on #26
Done in #38

[2019-08-08 03:37] #26 closed

[2019-08-08 03:37] yaichenbaum commented on #27
Done in #38

[2019-08-08 03:37] #27 closed

[2019-08-08 16:28] yaichenbaum commented on #29
Taken car of with #39

[2019-08-08 16:28] #29 closed

[2019-08-09 03:11] #36 closed

[2019-08-11 14:56] yaichenbaum opened #47 "Exit should only ask to save if there are unsaved changes"

[2019-08-11 15:22] #47 closed

[2019-08-12 22:02] yaichenbaum opened #50 "Opening the app in light theme makes the app think there are unsaved changes"
If the app is set to launch in light theme, when it opens it thinks there are already unsaved changes.

[2019-08-12 22:03] yaichenbaum opened #51 "Move show status bar bellow spell check"
Move the show status toggle to underneath the spell check one in settings. (Also make it clear the status bar is for classic mode)
![image](https://user-images.githubusercontent.com/39923744/62901697-783cba80-bd2b-11e9-9628-b82b2ce30ea1.png)

[2019-08-12 22:11] yaichenbaum opened #52 "Changing the theme to light when the system is dark brings up white text"
Steps to reproduce
1. Have system theme on dark
2. Set app theme to light
3. Restart app
The text is then white when in reality it should be black unless the user chose something other then the default font color.
![image](https://user-images.githubusercontent.com/39923744/62902129-a1117f80-bd2c-11e9-9018-8b711b24f0c9.png)

[2019-08-13 22:57] #52 closed

[2019-08-13 22:57] #51 closed

[2019-08-13 22:59] yaichenbaum opened #54 "Launching in light theme has a dark font box"
![image](https://user-images.githubusercontent.com/39923744/62983183-7abb1500-bdfc-11e9-9f57-4f669682b3cf.png)

[2019-08-13 23:04] yaichenbaum opened #55 "Error in save status"
Open a file, type a letter, wait for auto save to save it. Press backspace to remove the letter and it wont realize you made a new change.

[2019-08-13 23:52] yaichenbaum opened #56 "Creating a new document does not clear the save status icon tooltip path"

[2019-08-13 23:53] yaichenbaum opened #57 "Save icon missing from status bar when launching the app"

[2019-08-14 01:22] #34 closed

[2019-08-14 17:46] ray1997 commented on #32
I just notice it now that reveal effect is gone from the whole app and as I bing it around the web and found out the issue is coming from Microsoft UI Library and they are aware of the issue but they focus on releasing the Microsoft UI Library 3.0 (https://github.com/Microsoft/microsoft-ui-xaml/issues/559)
So, @yaichenbaum what do you want me to do to fix this? Wait for 3.0 or remove the Microsoft

[2019-08-14 20:15] yaichenbaum commented on #32
We will wait, being that it is just a design issue and nut function issue I will be closing this issue.

[2019-08-14 20:15] #32 closed

[2019-08-14 20:33] #56 closed

[2019-08-14 20:34] yaichenbaum opened #59 "Clicking new discards changes if you have an open file with unsaved changes"

[2019-08-14 20:34] #57 closed

[2019-08-14 23:44] #7 closed

[2019-08-15 00:48] #11 closed

[2019-08-15 01:03] yaichenbaum opened #61 "Reduce system resource usage when running the app"
Resource usage between the built in Notepad and Quick Pad is a huge difference, while the two cannot be compared since Quick Pad includes auto save plus other functions, there is definitely more room for improvement and optimizations.
![image](https://user-images.githubusercontent.com/39923744/63235425-5352b680-c207-11e9-8848-ca12553f6af0.png)
I am sure there are a lot of parts of the code that co

[2019-08-15 04:41] ray1997 commented on #61
We could use performance profiler to see where the memory is used.

There are a way to unload unused UI using x:Load
I've test it, before x:Load it take about 63 MB
And after putting in x:Load the app used about 50 MB

FontAndFormat won't be there this next update. So, I suggest for now we should put x:Load="False" on it because it will still load and take some memory.

[2019-08-15 12:23] #54 closed

[2019-08-15 12:24] #59 closed

[2019-08-15 12:25] #55 closed

[2019-08-15 12:40] yaichenbaum commented on #61
I think this would be the first step. Next would be to figure out which parts cause memory to be used and optimize that code for performance.

[2019-08-15 12:41] yaichenbaum opened #64 "Option to disable transparency"
Please provide option to disable transparency.

[2019-08-16 01:54] #9 closed

[2019-08-16 22:27] PhilLB1239 opened #67 "Ability to force a language, separate from system language settings"
As described by the title, the user should have the ability to force a specific translation of Quick Pad that is available in the specific version from the settings page.

Not only it will bring more choices to the end user that works with multiple languages, it will also be a convenient feature for current translators of Quick Pad, including me, since some of us works with a different system lang

[2019-08-18 16:42] ray1997 opened #72 "Add setting to adjust auto save duration"

[2019-08-18 16:42] yaichenbaum commented on #61
- [ ] Option to adjust how often the auto save timer works, in addition we can also optimize and make sure it only runs if there are unsaved changes.

[2019-08-18 21:26] yaichenbaum opened #73 "Add RTL support"
A user requested RTL support. We should add this as soon as possible.

[2019-08-20 16:14] avknaidu commented on #10
@yaichenbaum Instead of sending temp file, its better to prompt the user to save changes before sharing.

[2019-08-20 18:13] yaichenbaum commented on #10
Changes made with #74

[2019-08-20 18:13] #10 closed

[2019-08-21 01:18] yaichenbaum opened #76 "Setting default font is broken"
Setting the default font in settings is broken, this is an important function and needs to be fixed as soon as possible.

[2019-08-22 21:55] yaichenbaum opened #82 "Move command bar customization from settings to drop down menu for less clutter"
Instead of having a dedicated tab in settings to hide a few buttons from the command bar, a drop down by right clicking on the command bar can do the same while cleaning up the design. This feature is not used too either so moving out of the main settings page makes sense.
The basic idea would be something like this
![image](https://user-images.githubusercontent.com/39923744/63552574-f3f5ee80-c505

[2019-08-22 22:01] yaichenbaum opened #83 "Add toggle to switch to classic mode next to the control box"
![image](https://user-images.githubusercontent.com/39923744/63552853-d2e1cd80-c506-11e9-9f08-854843abb7dc.png)
This will provide easier access plus make it easier for users to discover the feature.

[2019-08-22 22:04] yaichenbaum opened #84 "Popup on first launch asking user to choose what mode to use the app in"
Basic concept
![image](https://user-images.githubusercontent.com/39923744/63553012-38ce5500-c507-11e9-867d-28709e7d5dcf.png)

[2019-08-22 22:08] yaichenbaum opened #85 "Sync settings with Microsoft account"
Useful for someone with more then one device for them to be able to keep the customization options they choose, as well as helpful if they reset the app or move to a new device.
Reminder to myself that I have a good method to use.

[2019-08-22 22:10] yaichenbaum opened #86 "Better implementation for the justify icon"
![image](https://user-images.githubusercontent.com/39923744/63553253-dcb80080-c507-11e9-921a-5da154740e5b.png)
As you can see in the image the icon does not display right, this is because there is no built in icon for Justify Align. We need to come up with some kind of workaround.

[2019-08-22 22:43] yaichenbaum opened #87 "Save changes dialog not following the app theme"
![image](https://user-images.githubusercontent.com/39923744/63554800-afba1c80-c50c-11e9-9480-c3b01626dea1.png)

[2019-08-25 15:50] yaichenbaum commented on #83
It seems that the area we want is set a safe zone\always drag area. We can put controls there but you cant interact with them, if we do it a little further away it would work but there would be a nice gap.

[2019-08-25 16:23] yaichenbaum opened #89 "Setting to set tint opacity"

[2019-08-25 16:28] #87 closed

[2019-08-25 22:52] yaichenbaum commented on #2
This has been added, we will tweak and improve it as necessary before releasing to everyone.

[2019-08-25 22:58] yaichenbaum commented on #2
- [ ] Add rounded corners to match the rest of the UI (sorry folks)
- [ ] Focus on the search text box when the UI is launched.
- [ ] Fix crash if you search for nothing.

[2019-08-25 23:15] yaichenbaum commented on #2
Should we move the check boxes to be on the same line?
![image](https://user-images.githubusercontent.com/39923744/63657201-b2b34800-c76c-11e9-9d66-1e747927212a.png)

[2019-08-25 23:47] ray1997 commented on #2
@yaichenbaum For a better multilingual support. Let's assume that some language "Match case" might be long enough that putting the check boxes on same line might not be enough

[2019-08-26 00:05] yaichenbaum commented on #2
Are you sure that its not wide enough to include most cases?

[2019-08-27 00:37] yaichenbaum opened #96 "Go To Line"
- [x] Should only accept numbers.
- [x] Should scroll down to the line.
- [x] Should have round corners on buttons.
- [x] Should put cursor at the line its meant to go to.
- [x] Going to line 1 goes to 2 for some reason.
- [x] Should have round corners on text box.
- [x] Should not do anything if you enter a number less then 1 or more then the total number of lines.

[2019-08-28 21:37] yaichenbaum commented on #72
Looking good,
1. Can we change the slider to not be broken up in different parts?
2. The slider should be hidden if auto save is turned off.

[2019-08-28 21:39] yaichenbaum commented on #67
1. Settings dialog closes when changing the language.
2. Change does not take affect right away, it might need a few milliseconds delay before the code runs...

[2019-08-28 21:41] yaichenbaum commented on #50
Fixed in dev.

[2019-08-28 21:41] #50 closed

[2019-08-29 02:12] PhilLB1239 opened #101 "When forced to a specific language other than English, will instead display "English" as current language"
**Description**
When forcing a specific language other than English (United States), when the app is relaunched and displayed at the desired language, the same option will display "English" instead of the current language (see screenshot).
![image](https://user-images.githubusercontent.com/51797038/63904884-6b34f200-c9e0-11e9-8aea-8592b522c64b.png)

**To reproduce the issue:**
1. Launch Quick Pad

[2019-08-29 02:14] yaichenbaum commented on #101
Thanks for reporting, I am closing this issue since the feature is completed now. The build you have was still a beta version. If you run from the source code it displays correctly.

[2019-08-29 02:14] #101 closed

[2019-08-29 23:49] yaichenbaum commented on #2
Since all the issues in this list have been addressed I will be closing this issue, if there are any bugs or other issues someone finds they should open a separate issue for the specific thing they found. Major thanks to @ray1997 for all the work and effort he put in to this.

[2019-08-29 23:49] #2 closed

[2019-08-30 00:02] yaichenbaum commented on #72
All issues seem to have been addressed so I will be closing this issue.

[2019-08-30 00:02] #72 closed

[2019-08-30 00:16] yaichenbaum commented on #96
Closing since the feature is now ready.

[2019-08-30 00:16] #96 closed

[2019-08-30 00:32] yaichenbaum opened #104 "Go To dialog needs to close before the dialog asking you to save comes up to prevent a crash"

[2019-08-30 14:57] yaichenbaum opened #107 "Support for more encoding types"
We should add support for both saving and reading these files.
- [x] UTF-16 LE
- [x] UTF-16 BE
- [x] UTF-8
- [x] UTS-8 with BOM

![image](https://user-images.githubusercontent.com/39923744/64030610-ea2b4700-cb14-11e9-8a45-78cf5425d9dc.png)

[2019-08-30 16:52] yaichenbaum commented on #104
Fixed in dev

[2019-08-30 16:52] #104 closed

[2019-08-31 04:17] ray1997 commented on #85
We can easily move setting on local setting to store on `ApplicationData.Current.RoamingSettings` and it will sync across account.

https://docs.microsoft.com/en-us/windows/uwp/design/app-settings/store-and-retrieve-app-data#roaming-data

Or is there another way you want to use?

[2019-09-01 01:54] yaichenbaum commented on #82
@ray1997 Great job. Can we have it hide if the user clicks out of it? Right now you need to press done and thats a little annoying.

[2019-09-01 01:56] yaichenbaum commented on #67
@ray1997 the message comes up telling you to restart but does not apply the change when you actually reopen the app for some reason.

[2019-09-01 02:46] yaichenbaum commented on #83
Closing this issue since it seems there is no way to do it.

[2019-09-01 02:46] #83 closed

[2019-09-01 03:07] ray1997 commented on #67
@yaichenbaum I just forget to send a setting back to a setting storage 🤦‍♂️

[2019-09-01 03:47] yaichenbaum commented on #67
Issue resolved.

[2019-09-01 03:47] #67 closed

[2019-09-01 04:12] yaichenbaum commented on #82
Resolved.

[2019-09-01 04:12] #82 closed

[2019-09-01 15:59] yaichenbaum opened #117 "Find dialog expand animation should play everytime the dialog is expanded"

[2019-09-01 16:20] yaichenbaum opened #118 "Font dialog for classic mode"
The basic concept I came up with is to keep it closely in line with Notepad.
![image](https://user-images.githubusercontent.com/39923744/64079168-352e9100-ccb2-11e9-804f-fd36f291b62d.png)
The main points I came up with is
Even though classic mode supports rtf the main focus is plain text so there is no need for color options.
Check list of how the dialog should perform.
- [ ] Changes should save a

[2019-09-01 21:40] yaichenbaum opened #120 "New advanced tab in setting idea."
This is just an idea I had and not at all final. Here is the pitch.

**A brand new 'Advanced' tab in settings for power users**
- [x]  Paste with no format.
- [x] https://github.com/UWPCommunity/Quick-Pad/issues/129
- [x]  Reset settings.
- [x]  Export settings (can be used for debug proposes as well.
- [x]  Import settings.
- [x]  Crash history (for debugging as well).

[2019-09-02 14:07] #12 closed

[2019-09-02 14:36] yaichenbaum opened #125 "Copied text not available after closing the app"
Text that I copy from Quick Pad somehow does not stay on the clipboard after closing the app.

[2019-09-04 00:09] stephen-haxby commented on #120
7. Paste with no format

[2019-09-04 21:55] Henboy10 opened #128 "Icon for Each File Extension"
I keep going back and forth between this app and [Notepads](https://www.microsoft.com/store/productId/9NHL4NSC67WM). One feature that I love from Notepads is the modern, yet minimalistic icons that adapt to the file type. See the image below for an example. I wish Quick Pad had the same for .txt and .rtf

![image](https://user-images.githubusercontent.com/22181579/64293058-6e286900-cf31-11e9-9bd6-

[2019-09-04 22:03] Henboy10 opened #129 "Option to automatically open in different modes depending on the file type."
For example if you open up a .txt file with Quick-Pad, it should open up in classic mode automatically. If you open up .rtf it would ideally open up in the default mode.
This setting should be under the advanced tab #120

[2019-09-04 22:57] yaichenbaum commented on #129
I am afraid this behavior would clash with users choosing default launch mode. Perhaps we can have a automatic mode that chooses based on the file type.
Another way is to have separate launch mode settings when just opening the app and another setting to automatically choose the mode when launching from a file.

[2019-09-04 23:01] yaichenbaum commented on #128
Is that image from Notepads or just a mock-up you made?
@ray1997 actually came up with a concepts yesterday for something like this and I am strongly considering it.
![image](https://user-images.githubusercontent.com/39923744/64299222-54455100-cf46-11e9-9087-55046ef10c20.png)

Also just because you mentioned it, I use Notepads as well, the developer did a great job and actually helped me with some

[2019-09-04 23:39] Henboy10 commented on #128
The image that I included is actually from Notepads. I think the icons from @ray1997 are great options. Although in my opinion, something seems off...

I'm not a designer, but what if the paper on the pad was white and then whatever is written on the paper itself is blue. Here is something that I sloppily threw together as a concept.
![concept](https://user-images.githubusercontent.com/22181579/64

[2019-09-04 23:41] yaichenbaum commented on #128
Yeah, the icons were just concepts. I will explore more for better ideas. The issue with adding those lines is it doesn't scale down so well to smaller sizes.

[2019-09-04 23:50] Henboy10 commented on #128
That's a good point. I think whatever we end up choosing for the miscellaneous icons need to somehow fit well with icons from other programs. We don't want it to stick out too much, otherwise, it won't look right.

I think it's fine if the main icon stands out, but the txt/rtf icons should be a little more subtle.

Do with that what you will 😁

[2019-09-04 23:51] yaichenbaum commented on #128
I hope to draw up several ideas soon. Will share here when they are ready.

[2019-09-04 23:53] Henboy10 commented on #129
I love your idea on the option for an auto mode.

[2019-09-05 00:34] yaichenbaum commented on #128
Here is idea 1
![image](https://user-images.githubusercontent.com/39923744/64302859-5366ec00-cf53-11e9-9b1f-1cd14d152a88.png)

[2019-09-05 00:37] yaichenbaum commented on #128
And the same idea just with different colors.
![image](https://user-images.githubusercontent.com/39923744/64302980-e011aa00-cf53-11e9-952d-db4fd9100ce0.png)

[2019-09-05 01:44] #64 closed

[2019-09-05 02:02] Henboy10 commented on #128
I like your single sheet idea, especially your white variant. The explanation behind the design is great too.

**I'm thinking out loud here, bare with me🤣**
I feel like this design kinda makes it unidentifiable as a piece of paper, though. With the main app icon, the three layers of paper gave it depth making it identifiable as a notepad. I'd be interested to hear if you think the same thing.

Wha

[2019-09-05 02:05] yaichenbaum commented on #128
I can do that, I just wanted to keep it different then Notepads since I cannot exactly copy it 😀 but I will explore doing it.

[2019-09-05 02:16] Henboy10 commented on #128
Here is a real-world representation of what was in my head, could be based on something of this sort. Wrapping a page back behind the notepad.
![image](https://user-images.githubusercontent.com/22181579/64306441-5fa17800-cf58-11e9-87f9-c6cf4af86528.png)

I'm interested to see all of the designs you can come up with. I'm not a good designer, so the best I can do is share with you ideas. You can mak

[2019-09-05 02:19] yaichenbaum commented on #128
I feel that would be better for an app icon itself. I am not sure how I can make that more a simple design which I am aiming for with this. I might just need to have a bent corner but when I get a chance I will try out both possibilities.

[2019-09-05 15:08] yaichenbaum commented on #128
![image](https://user-images.githubusercontent.com/39923744/64354460-7cc45e00-cfcd-11e9-947a-fd9dc62be16f.png)

[2019-09-08 04:35] #61 closed

[2019-09-08 05:04] yaichenbaum commented on #125
Fixed in dev

[2019-09-08 05:04] #125 closed

[2019-09-08 05:15] #6 closed

[2019-09-08 05:20] yaichenbaum commented on #6
Amazing job @Leisvan!!!

[2019-09-08 14:14] yaichenbaum commented on #85
There is another way I want to use @Arlodotexe has something he wrote and offered to let us use it as well.

[2019-09-09 21:34] Twometer opened #139 "Syntax highlighting"
I really like this app, but one feature that I am missing which keeps me from switching entirely to Quickpad is Syntax Highlighing. Will this ever be added?

[2019-09-09 23:03] yaichenbaum commented on #139
Its something I am open to in theory to add as an optional advanced feature (would be off by default) however I am fairly certain I would need to use a different text control that supports it instead of the richeditbox control currently being used.
Quick Pad is meant more as plain text editor as opposed to a code editor like Visual Studio code, I will look in to this a little more and let you know

[2019-09-10 01:29] yaichenbaum opened #140 "New settings system"
Quick Pad has been adding many features and customization settings over the past few months. What originally started as simple dialog and way to change the theme expanded in to a place to set default launch modes, which items show in the toolbar, default font settings and many more functions.
In order to accommodate the many settings the dialog got bigger in size and added more sections to the piv

[2019-09-10 14:18] #118 closed

[2019-09-10 14:22] yaichenbaum commented on #139
Looking in to it further confirmed that it is not possible with the RichEditBox control being used. Since it would require rewriting the app to support it, I will not be adding it at the moment. I will keep it in mind when doing any major updates in the future.
What I suggest is to use Visual Studio Code or Notepad++ for syntax highlighting. They are built for code editing wile Quick Pad is meant

[2019-09-10 14:25] yaichenbaum commented on #128
@Henboy10 any thought on the last concept I shared?

[2019-09-10 15:07] Henboy10 commented on #128
I think that maybe the txt tag is a little too small.
The problem that we've run into is that the design from _Notepads_ is so good that it's difficult not to make it too similar.
The challenge is going to be making something equally as good. We can do it, but it will take a lot of brain power

[2019-09-10 15:07] Henboy10 commented on #128
I think that maybe the one from _Notepads_ looks more like Material Design than it does Fluent Design. Is there any way to make a more "Fluent-y" design without using transparent acrylic?

[2019-09-10 15:09] yaichenbaum commented on #128
I am not sure, I will try some more ideas. If you have any feel free to share them as well.

[2019-09-10 15:13] Henboy10 commented on #128
I'll try making concept designs myself, although, I have more experience with the photo editing side of Photoshop than I do with logo/icon design. They may not look great, but I can give it a shot.

[2019-09-10 20:27] yaichenbaum commented on #128
I am liking this idea
![image](https://user-images.githubusercontent.com/39923744/64647872-d53d9600-d3e7-11e9-9660-355a57a502e9.png)

[2019-09-10 23:14] #117 closed

[2019-09-11 00:07] Henboy10 commented on #128
I like that too!

[2019-09-11 00:07] yaichenbaum commented on #128
Working on adding them in right now!

[2019-09-11 00:51] yaichenbaum commented on #128
Closing this issue since I will be working on new icons and tweaks as time goes on. The changes are live in the dev branch.

[2019-09-11 00:51] #128 closed

[2019-09-11 14:21] yaichenbaum commented on #120
- [ ] 1. Shadow on find and replace needs to follow the setting as well.
![image](https://user-images.githubusercontent.com/39923744/64705364-d6210700-d47d-11e9-965b-c7bee69207a5.png)

[2019-09-15 15:48] #140 closed

[2019-09-15 20:53] yaichenbaum commented on #89
Changes in dev.

[2019-09-15 20:53] #89 closed

[2019-09-18 01:28] yaichenbaum commented on #86
Changes in dev.

[2019-09-18 01:28] #86 closed

[2019-09-24 01:38] yaichenbaum commented on #129
Changes are in dev. They will come to the store with the next update.

[2019-09-24 01:38] #129 closed

[2019-10-06 03:57] yaichenbaum commented on #120
@stephen-haxby your request has been added to the dev branch, once this update is ready it will go out for testing. I will make sure to let you know when that is.

[2019-10-06 03:57] #120 closed

[2019-10-16 03:58] yaichenbaum opened #163 "Translation thread"
In order to keep track of when there are new strings to translate or strings that need to be updated, I am creating this issue for translators to follow.

[2019-10-16 04:00] yaichenbaum commented on #163
@ray1997 @PhilLB1239 @FJduFou adding you to this thread. If you dont want to get notifications just hit unsubscribe. Thank you.

[2019-10-16 07:20] ray1997 commented on #163
I'd say, next time if there's multiple PR merge wanted to update translation. Take my PR first and override it with translator's submitted PR.

[2019-10-16 14:43] yaichenbaum commented on #163
@ray1997 Sure.

[2019-10-17 18:45] FJduFou opened #167 "Blue or dark splash screen ?"
Hi,
After a discussion about this pull request #160  with @yaichenbaum , we wondered if you prefer a **blue** or **dark** home screen?
That's why we ask you to give your opinion (more **blue** or conversely, **darker**)
You can compare the results below:
**blue**:
![2019-10-17](https://user-images.githubusercontent.com/46401854/67037763-6fe37000-f11e-11e9-9f52-9fa2397525b8.png)
or **dark**:
![2019

[2019-10-17 18:49] yaichenbaum commented on #167
I personally prefer blue but this is up to you 😊

[2019-10-18 00:30] ray1997 commented on #167
I kinda like a dark splash screen, even though we only get a chance to see it only a few seconds.
@yaichenbaum your app subscribed to store service. You could use that menu to ask existing users to go here.
https://partner.microsoft.com/dashboard/notificationgateway/notifications/table

[2019-10-18 00:55] yaichenbaum commented on #167
Notifications is something you need to really think through before sending one. I have done it once or twice with big updates but you dont want to go over a few times a year since some users just want to get work done and not send feedback.

[2019-10-18 01:34] ray1997 commented on #167
right...

[2019-10-18 02:57] yaichenbaum commented on #163
**Version 4.3.15**
- [ ] [th-TH][Thai]
- [ ] [fr-CA][French]
- [ ] [es][Spanish]
- [ ] [ar-SA][Arabic]
- [ ] [fr-FR][French]
- [ ] [it][Italian]

[2019-10-21 11:24] FJduFou opened #175 "Translation of the Store page"
Currently, the page is in English, so I propose to other translators to put their translation here and thus centralized to allow better management
Store page: https://www.microsoft.com/en-us/p/quick-pad-uwp-notepad/9pdlwqhtlsv3

[2019-10-21 11:25] FJduFou commented on #175
fr-fr {description}
Quick Pad facilite la prise de notes. La superposition compacte vous permet de garder l'application au-dessus d'autres fenêtres telles que Microsoft Edge, de sorte que vous puissiez continuer à prendre des notes sans basculer entre elles.
La sauvegarde automatique garantit que votre travail est enregistré et où vous le souhaitez.
Si vous souhaitez utiliser le même style que le

[2019-10-23 03:04] yaichenbaum opened #176 "Remember compact overlay position on screen"
While Quick Pad is in "On Top" mode, I can drag the layout and make it a little bit smaller, larger, like a rectangle or a square. However if I go to Normal mode and then back to On Top mode the layout resets and I need to do customize it again.

[2019-10-23 13:57] #33 closed

[2019-10-23 19:05] FJduFou commented on #167
Dark win, thank you @yaichenbaum for authorizing the survey

[2019-10-23 19:17] #167 closed

[2019-10-23 21:25] yaichenbaum commented on #176
Fixed in dev

[2019-10-23 21:25] #176 closed

[2019-11-07 18:43] dmarciano commented on #107
I was looking at the code to see what this would take and from what I see, files are saved using the Storage.Pickers.FileSavePicker and Storage.StorageFile classes, but they don't see to have an Encoding property for this to be specified.

Would a new, custom, Save As window be created to support this feature?

[2019-11-07 18:50] yaichenbaum commented on #107
I would like to use whatever controls are default to the Universal Windows Platform. I don't even know how to go about this and probably won't have time to work on it for a while but I was thinking about having an option in settings if the user wanted to use a different encoding.
Something along the lines of whats being done in Notepads, but instead of radio buttons I would use a combo box.
![imag

[2019-11-07 19:10] dmarciano commented on #107
From what I've found, there is no way to do it directly from the Save As dialog.  So your suggestion about a settings menu would probably be easier than creating a whole separate Save As Dialog.

The actually saving it pretty easy, but takes slight reworking.  Unlike other version of .NET where you can simply specify the encoding directly in the stream, it would need to be done like so:

1. Get th

[2019-11-07 19:15] yaichenbaum commented on #107
Thank you for writing this all down, I am not very familiar with how to do this but I will definitely try in few months from now when I have some time to work on it. It is possible someone else will do it before I even get a chance to try but I won't complain 😂.

[2019-11-07 19:21] dmarciano commented on #107
I am willing to give it a chance.  I have a lot of experience but not with UWP apps.  From everything I read though, it seems like it would be relatively simple, since it only has to do specifically with reading/writing the bytes.

I am working on getting the app running on my computer (I had to install all the UWP stuff, emulators, etc.) but if I get it going I will definitely give it at shot.  I

[2019-11-07 19:24] yaichenbaum commented on #107
Wow, that would be a major help. If you need any help getting set up let me know. This project is run mainly by enthusiasts like me and there are not any guidelines to follow other then being respectful of everyone.
All you need to do is fork the repo and work off the dev branch. When you are done then you can open a pull request and I or another contributor will review the PR and make sure it doe

[2019-11-07 19:32] dmarciano commented on #107
I was able to actually get it working and running on my computer so I will fork it and work on this issue.

I did find one, minor, thing but it is a UI issue.  When you change the text in the file, a star * is shown before the name.  If you go to save, and then click Cancel (i.e. the file is **not* saved) the star is still removed from the beginning of the "New Document" title so it looks like the

[2019-11-07 19:33] yaichenbaum commented on #107
Good catch, whatever works for you in terms of creating separate issues or PR's, however just make sure to create a summery of changes in the PR.

[2019-11-07 19:34] dmarciano commented on #107
Of course

[2019-11-07 21:20] dmarciano commented on #107
Okay...so I got to actually use the code and so far this is the plan:

1. I've updated the Settings pane with a new combo box to choose the default encoding.  The options are UTF-8, UTF-16 LE, UTF-16 BE, and UTF-32.  These were chosen because they are the built-in encoding enum types so we don't have to handle any special cases or look up specific code page numbers.  There is also ASCII (UTF-7) bu

[2019-11-07 21:22] yaichenbaum commented on #107
Nice! I am really looking forward. @Leisvan when the PR is ready, would you be able to look it over?

[2019-11-08 08:11] Leisvan commented on #107
Sure. Please let me know when the PR is ready. I may miss it otherwise.

[2019-11-08 14:13] dmarciano commented on #107
The PR should be ready in about an hour or less.  I have a few more tests to run, but so far everything seems to working.  I created files in Notepad and saved them a UTF-8, UTF-8 BOM, UTF-16 BE, and UTF-16 LE.  I confirmed that when the application opened these files, the correct encoding was detected and the text was loaded.

I also confirmed that the autosaving, and updating the file, worked, a

[2019-11-08 14:15] yaichenbaum commented on #107
@dmarciano Sounds great! Do you think we should have it display the encoding in the status bar? Idea shown bellow
![image](https://user-images.githubusercontent.com/39923744/68482823-5e1a5780-0208-11ea-8d28-e13d04186bc1.png)

[2019-11-08 15:01] dmarciano commented on #107
@yaichenbaum I am not the greatest with UI design, however I have added a textblock at the lower right had corner of the window.  When the application first starts, it shows the default encoding (the one set in the settings).  However, once a file is open, this value is updated to the encoding of the currently selected file.  If a new file is created, it goes back to the default settings.

Everyth

[2019-11-08 15:06] yaichenbaum commented on #107
The design is something I can go over if its not how I like it, but it sounds like you have everything covered.

[2019-11-08 15:17] dmarciano commented on #107
@Leisvan  @yaichenbaum The PR has been completed.  Let me know if you need anything else from me or if you find any issues.

[2019-11-08 15:31] yaichenbaum commented on #107
Thank you so much for your help and offer to do more, I don't think there is anything else at the moment but I will let you know if there are any issues with the PR.

[2019-11-08 18:33] Leisvan commented on #107
I can't get to a computer until Monday. Run the tests needed and I'll review it by then. Good work @dmarciano 👍

[2019-11-10 15:20] yaichenbaum opened #183 "Copy text only option"
![image](https://user-images.githubusercontent.com/39923744/68546375-8b4f3d00-03a3-11ea-98df-ce3886dcef33.png)
Right now if you copy rich text from the app and pasting in a web browser or any other text area that does not support rich text, the way to fix it would be to add an option to have an option to copy just the text without the styles.

[2019-11-10 16:05] #183 closed

[2019-11-11 18:41] sharpninja opened #187 "Add "Search on Bing" to context menu"
**Describe the solution you'd like**
When showing the context menu, if there is text highlighted, provide an option to search for the text on Bing.

[2019-11-11 18:43] sharpninja opened #188 "Add configuration options based on file type"
**Describe the solution you'd like**
Provide a JSON or YAML config file in the user's App Data location for the app to allow the user to specify a font and color scheme (any other configurable options) based on file type/extension.

[2019-11-11 20:39] yaichenbaum commented on #107
@dmarciano thanks you so much for your help on this feature!

[2019-11-11 20:49] Leisvan commented on #107
Good work @dmarciano . This works really well. If you are committed to this feature I'd recommend you use [UDE.CSharp.UWP](https://www.nuget.org/packages/UDE.CSharp.UWP), a port of Mozilla Charset Detector. With this tool, you'll be able to provide most of `System.Text.Encoding` supported encodings. If you need help in this matter you can reach me at any time. Again, Good Work!

[2019-11-11 20:55] yaichenbaum commented on #163
**Version 4.3.16**
- [ ] [th-TH][Thai]
- [ ] [fr-CA][French]
- [ ] [es][Spanish]
- [ ] [ar-SA][Arabic]
- [ ] [fr-FR][French]
- [ ] [it][Italian]

[2019-11-12 13:12] dmarciano commented on #107
@Leisvan I took at that library and thought of a couple things that would have to be resolved before it could be implemented:

1. Does the text control being used support all System.Text.Encoding formats?
2. If so, opening and saving the file in the same encoding would be easy enough, however would it even be feasible to give a user a choice of all possible encodings.  I don't know off hand how ma

[2019-11-12 13:15] dmarciano commented on #187
Would this specifically be for Edge/Bing or would it use the user's default browser/search engine?  For example, I prefer Chrome so if this feature was available, I would rather Chrome open and the search be performed via Google, but someone else might prefer Edge/Bing, or Firefox/Google, etc.

[2019-11-12 13:18] sharpninja commented on #187
Default browser, of course.  But would definitely prefer Bing here.  You could make it an option I guess, but damn, the search results are so much better on Bing.

[2019-11-12 13:22] dmarciano commented on #187
I personally feel that Google's results are far supior, but that is just my opinion.  However, I think maybe the best way to go would be to give them an option of several search engines and it would use that via their default browser.

[2019-11-12 13:23] sharpninja commented on #187
We shall have to agree to disagree.

[2019-11-12 13:51] Leisvan commented on #107
1. After you encode the text you'll have an "interpreted" string. The RichEditBox will handle it normally.
2. That's not a problem. Even if it were 50 a Combobox would handle it just fine. What's really important, I think, is to support all of them to include other writing systems into the app.

[2019-11-12 14:14] yaichenbaum commented on #107
@Leisvan How many are you currently supporting in Notes Sheet?

[2019-11-12 14:19] yaichenbaum commented on #187
The option to search with Bing is already implemented in classic mode, what this feature request is asking is to add it to the right click context menu as well.
Right now the search results will open in the default browser, however the search results will go through Bing. What I can do is see if it can be set to use whatever search engine you use in your browser.

[2019-11-12 14:47] themoiFR commented on #163
There are some french translations that are not very french :
- Size Up -> "Augmenter la taille"
- Size Down -> "Diminuer la taille"

![image](https://user-images.githubusercontent.com/57669556/68681338-83d69200-0563-11ea-8969-5ecefeb8d950.png)

In french it is better to write "Afficher" than "Montrer"

There is a missing Translation for "Show Left Align" -> "Afficher l'alignement à gauche"

Maybe

[2019-11-12 14:48] yaichenbaum commented on #163
@FJduFou can you check this out?

[2019-11-12 15:06] themoiFR opened #189 "Changing the size with the button "Size Up""
**Describe the bug**
The font size doesn't change properly with buttons size

**To Reproduce**
1. Type some text,
2. Select the typed text,
3. Click on the "Size UP" button,
4. The size of the selected text is reduced or increased.

**Expected behavior**
Just change the font size of the selected text.

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 1903 19

[2019-11-12 15:19] themoiFR commented on #163
Also the translation for the auto saving time should be "Intervalle de sauvegarde automatique :"

[2019-11-12 15:47] Leisvan commented on #107
Can't check right now. About 20+

[2019-11-12 15:48] themoiFR opened #190 "Keyboard shortcuts are not working when focus mode is set as the launch mode"
**Is your feature request related to a problem? Please describe.**
When you are in focus mode, and you want to save your file, you have to quit focus mode and save the file.

**Describe the solution you'd like**
Just do a CTRL-V to save (for exemple)...

[2019-11-12 16:06] yaichenbaum commented on #190
You should already be able to use ctrl + s to save. Let me know if that helps.

[2019-11-12 16:06] yaichenbaum commented on #189
Thank you for reporting this bug, this should now be fixed in the dev branch.

[2019-11-12 16:06] #189 closed

[2019-11-12 16:15] themoiFR commented on #190
That right but not when I do :
1. Open QuickPad
2. Write something
3. Go to focus mode
4. CTRL-S
5. Nothing append

[2019-11-12 16:21] yaichenbaum opened #191 "Fix default font size and font name mess"
The default font settings should not affect rtf files. They should for any file type that is not rtf such as html or txt.
The default font options should also take affect when no file is loaded at all.

[2019-11-12 16:24] yaichenbaum opened #192 "Formatting options should only be available on rtf files"
Formatting options should only be available when editing rich text files. They should also be available before the user saves a file since it is possible they will choose to save as a rich text file but if the save it as any other type the options should be disabled.

[2019-11-12 16:26] yaichenbaum commented on #190
What version of app are you running? I am having trouble reproducing this on my end.

[2019-11-12 16:27] themoiFR commented on #84
How can I help doing something ? I am really interested by this project 😁

[2019-11-12 16:28] themoiFR commented on #190
V4.3.15.0

[2019-11-12 16:28] yaichenbaum commented on #84
@themoiFR thanks! There is a lot of work to do, mainly fixing bugs and weird behaviors throughout the app, do you ave any programming experience?

[2019-11-12 16:30] yaichenbaum commented on #190
What is your default launch mode?

[2019-11-12 16:31] themoiFR commented on #190
Focus

[2019-11-12 16:34] yaichenbaum commented on #190
Ok, this really comes down to a whole refactor that is planned. With the planned code structure, it should fix this issue and many other smaller bugs as well.

[2019-11-12 16:36] yaichenbaum commented on #163
I decided we are not yet ready for new strings, first I will send out an update to beta testers for some through testing and only then will we do the new strings.
Thank you for all your help on Quick Pad!

[2019-11-12 17:18] themoiFR commented on #84
I am in a French engineering school. I participate in a c# project last year and recently (this week end) I made a wpf application in c# using visual studio to program a circuit board. I like coding and I try to make my code a clear as possible and with a good quality (learned a lot about code quality in my school). So yes I have an experience

[2019-11-12 17:27] yaichenbaum commented on #84
We are in about to start rewriting the app and at I will be creating tasks for what needs to be done and I will label them rewrite, if any of the tasks are something you want to do then let us know on the issue.

[2019-11-12 17:55] themoiFR commented on #84
Okay, I will wait for those new tasks, thanks a lot

[2019-11-13 01:30] yaichenbaum opened #196 "Add option to open files"
Should support,
- [x] Dragging file in from File Explorer
- [x] From the menu bar (File > Open)
- [x] From the command bar
- [x] Ctrl + O
- [x] Command Line
- [x] Opening the app from a file.

[2019-11-13 02:11] sharpninja commented on #196
This is a very good way to define your requirements.

[2019-11-13 16:28] yaichenbaum opened #198 "Auto Save"
Auto Save
- [x] By default save every 10 seconds
- [x] Should be on by default
- [x] Have option to turn off
- [x] Have slider to adjust between 5 - 60 seconds. (should be hidden if auto save is off)

[2019-11-13 16:31] yaichenbaum opened #199 "Save behavior"
Saving files
- [x] Txt files should be default
- [x] Should have an option to set rtf as default save format
- [x] If the open file is rtf save the file as rich text
- [x] If the open file is not rtf save as plain text

[2019-11-13 16:35] yaichenbaum opened #200 "Option to save files"
**Save**
- [x] Ctrl + S (should work even if command bar or menu bar is hidden)
- [x] Auto Save
- [x] Save As if the file is not already saved
- [x] Closing the app should have dialog asking if they want to save
- [x] From File > Save
- [x] From command bar

**Save As**
- [x] Ctrl + Shift + S (should work even if command bar or menu bar is hidden)
- [x] From File > Save As

[2019-11-13 18:37] sharpninja opened #203 "Create TextManipulationCommands class."
- [ ] Will provide an instance of SimpleCommand<DocumentViewModel> for each action.
- [ ] Will provide an Exector for all commands
- [ ] Will provide a CanExecuteEvaluator

[2019-11-13 18:37] sharpninja opened #204 "Create SettingsViewModel class"
- [x] Launch Mode
- [x] Locality Selection
- [x] Default File Type
- [x] Default Encoding
- [x] Autosave Enabled
- [x] Autosave Frequency

[2019-11-15 05:16] Henboy10 commented on #190
I am having this same problem with the default launch mode. I open the app, and the keyboard shortcuts don't work.

[2019-11-15 05:22] Henboy10 commented on #190
After further messing with it, the commands seem to only work within the app. For example, if I copy something in the app, and try to paste it in Chrome, it won't work. But if I copy something in the app, I can paste it in the app.

The save command seems to not work when the default mode is set to focus.

I don't really know how else to describe it :)

[2019-11-15 14:27] yaichenbaum commented on #190
@Henboy10 What you are describing is a known bug that the text is being copied as rich text and Chrome does not support rich text. If you try pasting it in Microsoft Word you will see that it works just fine. As a temporary work around while we work on fixing this issue you can go to Quick Pads settings, navigate to the advanced settings page and select "Keep text only".

[2019-11-15 16:37] yaichenbaum commented on #84
@themoiFR there are several tasks labeled refactor, feel free to pick any of them.

[2019-11-15 18:54] themoiFR commented on #84
I cloned the project to vs2019 but i have a problem : When I build the project, I have an error I haven't seen before : No certificate found with the supplied thumbprint: ...
Can you help me ?

[2019-11-15 18:56] yaichenbaum commented on #84
First of all make sure you are on the refactor branch, second you can follow the solution [here](https://developercommunity.visualstudio.com/content/problem/612872/create-test-certificate-option-missing-from-uwp-sd.html
) to create a certificate.

[2019-11-15 19:16] themoiFR commented on #84
ok that work thanks

[2019-11-15 19:18] themoiFR commented on #204
Can I do this one ?

[2019-11-15 19:28] yaichenbaum commented on #204
@themoiFR Go ahead 😃

[2019-11-15 19:29] themoiFR commented on #204
Is there a way to discuss with you with out spamming the discussion ?

[2019-11-15 19:30] sharpninja commented on #204
I am on the discord quick-pad-dev channel right now.

[2019-11-15 19:35] themoiFR commented on #204
can you invite me on discord ? 😉

[2019-11-15 19:35] yaichenbaum commented on #204
That channel is private, I would recommend using the appropriate issues here. You can also create new issues if needed.

[2019-11-15 19:52] themoiFR commented on #204
I do the xaml of the settings too ?

[2019-11-15 19:53] sharpninja commented on #204
The Xaml is written, but needs to have the ViewModel applied to it.

[2019-11-15 20:16] yaichenbaum commented on #204
The Xaml for the settings page has not been written yet. The plan is to use the same settings design as the current version but it will need to be rewritten and broken up in to separate pages as opposed to it all being stuffed in to one Xaml file.

[2019-11-15 20:34] themoiFR commented on #204
OK I will see what I can do

[2019-11-15 20:56] FJduFou commented on #163
@yaichenbaum yes ?

[2019-11-15 20:58] yaichenbaum commented on #163
We are working on a rewrite of the app that should be ready for localization in a week or two, until then there will be nothing to update.

[2019-11-15 21:01] FJduFou commented on #163
Oki, yhis require retranslate all ?

[2019-11-15 21:07] yaichenbaum commented on #163
Unfortunately it will, I am really sorry about this/

[2019-11-15 21:13] FJduFou commented on #163
oki, no problem 👌

[2019-11-17 02:11] yaichenbaum commented on #204
I finished adding in the Xaml for settings, it should be pretty simple to start work on this task now.

[2019-11-17 11:07] themoiFR commented on #204
yes it is thanks

[2019-11-20 19:57] yaichenbaum opened #234 "Back button is hidden when focus mode is set as the launch mode."
Back button is hidden when focus mode is set as the launch mode.

[2019-11-20 20:58] yaichenbaum opened #235 "Clicking on text in rtf mode should update the font dropdowns"
If the user is editing a rich text document then the font size and font family drop down should display that in the command bar.

[2019-11-20 21:00] yaichenbaum opened #236 "Font family and font size drop down stays open even after selecting an item."
Font family and font size drop down stays open even after selecting an item.

[2019-11-20 21:03] yaichenbaum opened #237 "Status Bar"
- [x] Tooltip for the save icon shouldn't show if no file is open
- [x] Should show file encoding
- [x] Should show line and column count
- [x] Option in view menu to hide it should be hooked up

[2019-11-20 21:18] sharpninja commented on #235
This is a bigger issue.  All of the buttons on the toolbar should reflect the state of the RTF document at the caret.

[2019-11-20 21:19] yaichenbaum commented on #235
Updated title to reflect that

[2019-11-20 21:57] sharpninja commented on #234
Fixed.

[2019-11-20 21:59] #204 closed

[2019-11-20 21:59] sharpninja commented on #203
Created single QuickPadCommands class.

[2019-11-20 21:59] #203 closed

[2019-11-20 22:00] #199 closed

[2019-11-20 22:01] sharpninja commented on #191
This has been cleaned up in rewrite.  Now RTF and TXT have separate defaults for font settings.

[2019-11-20 22:01] #191 closed

[2019-11-20 22:01] sharpninja commented on #188
Configuration can now be exported and imported via JSON files.

[2019-11-20 22:01] #188 closed

[2019-11-20 22:03] sharpninja commented on #107
These encodings are now supported:

- Utf8
- Utf16Be
- Utf16Le
- Utf32Be
- Utf32Le
- ASCII

[2019-11-20 22:03] #107 closed

[2019-11-24 00:05] yaichenbaum opened #240 "Enable tab key in rewrite"
You should be able to insert tab spaces by pressing the tab key.

[2019-11-24 00:08] yaichenbaum opened #241 "Status text color should be SystemControlForegroundBaseMediumHighBrush by default"
The color of the status text on the status bar should be `SystemControlForegroundBaseMediumHighBrush` by default.

[2019-11-24 00:11] #234 closed

[2019-11-24 00:13] yaichenbaum commented on #84
@themoiFR Are you still available to help with the rewrite?

[2019-11-24 00:14] yaichenbaum commented on #85
@sharpninja I believe this is working in the rewrite?

[2019-11-24 00:16] yaichenbaum commented on #190
This should be fixed in the rewrite which should be rolling out sometime in December.

[2019-11-24 00:16] #190 closed

[2019-11-24 00:17] yaichenbaum commented on #163
The rewrite is ready for new strings! Please make sure you are working off the refactor branch.

[2019-11-24 00:52] sharpninja commented on #85
Yes, the settings are stored in your Microsoft account and updated as you change them.

[2019-11-24 00:53] #85 closed

[2019-11-24 04:17] PhilLB1239 commented on #163
@themoiFR Yeah, made those translations. Will improve it for the rewrite.

[2019-11-24 04:30] yaichenbaum commented on #163
At the moment I haven't added back the options to hide buttons in the toolbar. It's possible I will add it back later on and I will definitely think about the word "show" over there.

[2019-11-24 05:20] yaichenbaum commented on #192
@sharpninja Am I right that this has been done already?

[2019-11-24 09:52] sharpninja commented on #192
Yes, this is done.

[2019-11-24 13:09] #192 closed

[2019-11-24 15:03] #237 closed

[2019-11-24 15:04] yaichenbaum opened #243 "Implement share (should share a file)"
Implement share option, this should share an actual file as opposed to just text.

[2019-11-24 15:07] yaichenbaum opened #244 "Implement Go To dialog"
We need to implement the go to dialog functionality.

[2019-11-24 15:09] yaichenbaum opened #245 "Clicking on Format > Fonts in classic mode should open the settings panel to the fonts page"
Clicking on Format > Fonts in classic mode should open the settings panel to the fonts page.

[2019-11-26 02:44] #200 closed

[2019-11-26 02:51] #198 closed

[2019-11-28 20:27] #84 closed

[2019-11-29 00:28] FJduFou opened #253 "Change "Untitled" to the localization"
Translate the title bar (Untitled) in language of the localization.
Exemple: "Sans titre" fo fr-fr
![image](https://user-images.githubusercontent.com/46401854/69836186-80bbf100-1247-11ea-8926-3127d3f13194.png)

[2019-11-29 00:42] sharpninja commented on #253
Added translation in en-US resources file.  Will check in tonight.

[2019-11-29 00:45] sharpninja commented on #241
Updated.  Will checkin tonight.

[2019-11-29 00:46] FJduFou commented on #253
thx

[2019-11-29 08:24] themoiFR commented on #84
Yes I am

[2019-12-01 17:16] yaichenbaum commented on #241
@sharpninja Was this checked in yet?

[2019-12-01 17:20] yaichenbaum commented on #84
@themoiFR Ok, how about just going through the app and finding whats not working yet, when you find something first create and issue in case someone else is already working on it.

[2019-12-02 13:56] sharpninja commented on #253
Done.

[2019-12-02 13:56] #253 closed

[2019-12-02 13:56] sharpninja commented on #241
Done.

[2019-12-02 13:56] #241 closed

[2019-12-02 15:02] yaichenbaum opened #255 "New document button is not opening a new document if one is already open."
New document button is not opening a new document if one is already open.

[2019-12-02 15:03] yaichenbaum opened #256 "Copied text should still be available after closing the app"
Copied text should still be available after closing the app

[2019-12-02 15:07] yaichenbaum opened #257 "Opening on top mode using the short cut alt + up and then pressing the close on top mode button is not working right"
Opening on top mode using the short cut alt + up and then pressing the close on top mode button does not go back to the previous mode correctly.

[2019-12-02 15:10] yaichenbaum opened #258 "Should ask to save if the user has an open file in the following cases"
If the user has unsaved changes and they
- [x] Drag a file in
- [x] Open File Command
- [x] New Document Command
- [x] Close Command

[2019-12-02 16:33] yaichenbaum commented on #255
Fixed by Sharp Ninja.

[2019-12-02 16:33] #255 closed

[2019-12-02 17:09] FJduFou opened #260 "Translation mistake hunter"
I propose to post here the screens of unrelated sentences for the translation

[2019-12-02 17:10] FJduFou commented on #260
![image](https://user-images.githubusercontent.com/46401854/69979626-f2898880-152e-11ea-8627-a3b2e6b4b129.png)
![image](https://user-images.githubusercontent.com/46401854/69979642-f6b5a600-152e-11ea-92f6-43d879fe7fa5.png)

[2019-12-02 17:14] #260 closed

[2019-12-02 17:16] FJduFou commented on #163
![image](https://user-images.githubusercontent.com/46401854/69979991-a1c65f80-152f-11ea-87ba-ccb6204e1fbf.png)
![image](https://user-images.githubusercontent.com/46401854/69980091-d20dfe00-152f-11ea-8714-9ba5b70424c2.png)

[2019-12-02 21:02] sharpninja commented on #240
Done and committed.

[2019-12-02 21:02] #240 closed

[2019-12-03 00:12] sharpninja commented on #258
Done

[2019-12-03 00:13] sharpninja commented on #257
Hard coded string was being placed in control variable.  Fixed.

[2019-12-03 00:13] #257 closed

[2019-12-03 00:13] sharpninja commented on #243
Done.

[2019-12-03 00:13] #243 closed

[2019-12-03 00:15] sharpninja commented on #73
What needs to be done that Windows doesn't already do?

[2019-12-03 00:16] sharpninja commented on #256
Please research if a permission is needed.  I've set the code appropriately but it doesn't work.

[2019-12-03 00:20] yaichenbaum commented on #256
A permission is not necessary. @Leisvan Do you still have that code you shared with me for this?

[2019-12-03 00:21] yaichenbaum commented on #73
I think the user wanted the option to toggle between them without changing any settings on Windows.

[2019-12-03 00:23] yaichenbaum commented on #258
How can this be done if first one isn't even possible yet? Do you mean as soon as drag to open is implemented the work is already in place?

[2019-12-03 00:33] sharpninja commented on #73
Unless you can do that on the root form and it propagate through the whole tree, that's going to be a very big mess.
________________________________
From: Yair Aichenbaum <notifications@github.com>
Sent: Monday, December 2, 2019 6:21 PM
To: UWPCommunity/Quick-Pad <Quick-Pad@noreply.github.com>
Cc: The Sharp Ninja <ninja@thesharp.ninja>; Comment <comment@noreply.github.com>
Subject: Re: [UWPCommun

[2019-12-03 00:33] sharpninja commented on #258
Don't know what you mean about one not being possible.
________________________________
From: Yair Aichenbaum <notifications@github.com>
Sent: Monday, December 2, 2019 6:23 PM
To: UWPCommunity/Quick-Pad <Quick-Pad@noreply.github.com>
Cc: The Sharp Ninja <ninja@thesharp.ninja>; State change <state_change@noreply.github.com>
Subject: Re: [UWPCommunity/Quick-Pad] Should ask to save if the user has an

[2019-12-03 00:40] yaichenbaum commented on #258
At the moment Quick Pad does not support dragging files in from file explorer.

[2019-12-03 00:41] yaichenbaum commented on #73
Can't we set the flow direction?

[2019-12-03 00:44] sharpninja commented on #258
Drag to open is done.
________________________________
From: Yair Aichenbaum <notifications@github.com>
Sent: Monday, December 2, 2019 6:23 PM
To: UWPCommunity/Quick-Pad <Quick-Pad@noreply.github.com>
Cc: The Sharp Ninja <ninja@thesharp.ninja>; State change <state_change@noreply.github.com>
Subject: Re: [UWPCommunity/Quick-Pad] Should ask to save if the user has an open file in the following cases

[2019-12-03 00:47] sharpninja commented on #245
Done.

[2019-12-03 00:47] #245 closed

[2019-12-03 01:11] yaichenbaum opened #261 "Dragging an rtf file in to Quick Pad from file explorer does not load the correct formatting"
Dragging an rtf file in to Quick Pad from file explorer does not load the correct formatting.

[2019-12-03 01:12] yaichenbaum commented on #258
I just checked and it doesn't ask to save changes if I drag a file in.

[2019-12-03 02:16] sharpninja commented on #261
Fixed.

[2019-12-03 02:16] #261 closed

[2019-12-03 02:27] sharpninja commented on #258
OK, don't know where the original code went, but it's fixed again.

[2019-12-03 02:27] #258 closed

[2019-12-03 02:34] sharpninja commented on #236
Fixed.

[2019-12-03 02:34] #236 closed

[2019-12-03 20:00] Leisvan commented on #256
Yes. I'll send you the code later.

[2019-12-06 16:05] yaichenbaum commented on #235
Rtf mode
- [ ] Bold
- [ ] Italic
- [ ] Underline
- [ ] Strikethrough
- [ ] Bullets
- [ ] Color
- [ ] Font Size
- [ ] Font Family

Txt mode
- [ ] Font Size
- [ ] Font Family

[2019-12-09 20:32] FJduFou opened #274 "Ask to save dialog missing translations."
**Translation error**
Don't have translation

**Screenshots**
![image](https://user-images.githubusercontent.com/46401854/70470223-d9eb1680-1aca-11ea-97e3-830f9a6bc317.png)
(Exit if don't save)

[2019-12-09 20:36] yaichenbaum commented on #274
Do you have any better ideas for the last comment in your report?

[2019-12-09 20:55] FJduFou commented on #274
![image](https://user-images.githubusercontent.com/46401854/70471996-a1e5d280-1ace-11ea-97e4-fb8d1693b41c.png)
(for exemple)

[2019-12-09 20:56] yaichenbaum commented on #274
I don't really like that UI concept so much...

[2019-12-09 20:58] FJduFou commented on #274
![image](https://user-images.githubusercontent.com/46401854/70472187-fa1cd480-1ace-11ea-958f-fb5394626c6c.png)
(or this of you like geometry)

[2019-12-10 18:52] FJduFou opened #275 "Enable the theme selector"
**Theme selector work but don't save.**
When you quit the app, the selected theme is reset ...

![image](https://user-images.githubusercontent.com/46401854/70559130-6d355200-1b86-11ea-8e92-d329014d6236.png)
(theme selector)

[2019-12-11 18:57] yaichenbaum opened #276 "Files should be added to the MRU list"
When opening files in Quick Pad from the open command it should add them to the most recently used list in Windows so that it will show up in the quick access list in file explorer.

[2019-12-26 15:09] #256 closed

[2019-12-26 15:22] yaichenbaum opened #285 "Find and Replace enhancements"
- [x] Find previous isn't working.
- [x] Search seems to skip some results in txt mode.
- [x] If you type something in the text box it should search right away without you needing to click find next.

[2019-12-26 15:23] yaichenbaum opened #286 "Column and Line count is not working in rtf mode"
If you move the cursor in rtf mode it doesn't update the position on the status bar.

[2019-12-26 15:24] yaichenbaum opened #287 "It is not working to set the launch mode to default mode"
It works fine to set the launch mode to classic, focus or on top but for some reason setting it to default mode just launches in classic mode.

[2019-12-26 15:27] yaichenbaum opened #288 "Opening a file makes it think IsDirty is true"
Opening a file sets IsDirty to true, the expected behavior is the IsDirty is always false when opening a file.

[2019-12-26 15:32] yaichenbaum opened #289 "Opening a file in rtf and switching to txt should hide formatting options"
If the default mode is txt mode and you open the app from an rtf file then it will switch to rtf mode and show all the formatting options available for rtf files.
However if you open a different file in the same thread and the file is a txt one then the expected behavior is to hide all the formatting options since it is not meant to be available for txt mode, but for some reason this is not whats

[2019-12-30 23:56] yaichenbaum commented on #275
This has been implemented by @sharpninja.

[2019-12-30 23:56] #275 closed

[2019-12-31 01:02] yaichenbaum commented on #274
The find feature has translations, it looks like you need to do the strings for it to display.

[2019-12-31 02:19] Leisvan opened #291 "Use recommended fonts family, size and weight for different scripts"
Segoe UI is the default font for most Latin-script languages but that's not the case with other scripts such as Arabic or Japanese. The app should detect the language the user is using and provide a match for things like UI and text editor.

[LanguageFont font-mapping API](https://docs.microsoft.com/en-us/uwp/api/Windows.Globalization.Fonts.LanguageFont) provides tools to recommend default font in

[2019-12-31 04:30] #289 closed

[2019-12-31 04:30] #288 closed

[2019-12-31 06:43] ahmed605 commented on #196
I will work on the command line support

[2020-01-01 08:19] ahmed605 commented on #196
https://github.com/UWPCommunity/Quick-Pad/pull/294

[2020-01-01 08:36] ahmed605 commented on #187
I will work on this

[2020-01-01 15:43] #196 closed

[2020-01-01 20:04] #187 closed

[2020-01-01 22:06] #286 closed

[2020-01-01 22:40] #287 closed

[2020-01-02 02:46] yaichenbaum commented on #73
I don't think we will end up doing this setting in the end, the only real option is to set the text alignment which the user can do themselves.

[2020-01-02 02:46] #73 closed

[2020-01-02 15:17] #276 closed

[2020-01-02 17:04] yaichenbaum commented on #274
The Go To dialog isn't showing translations either.

[2020-01-03 00:31] #285 closed

[2020-01-03 00:33] yaichenbaum commented on #235
Do to the nature of this issue it might make sense to hold off on the last two ones until after the rewrite.

[2020-01-03 00:38] yaichenbaum commented on #163
All the strings for the rewrite should be added in to the app, I would appreciate if you could translate the remaining ones so I can get a final build for the rewrite in testing.

[2020-01-04 13:31] Jonatz opened #303 "Switching display mode or setting default mode crashes app"
Switching display mode or setting default mode crashes app. After setting the default mode to overlay and restarting the app, the app actually launches in overlay mode. In this state, it is impossible to switch back to other modes, because the UI switch button doesn't work anymore. Resetting the app through system settings fixes this, but it is replicable.

[2020-01-05 00:31] yaichenbaum commented on #303
@Jonatz Thank you for opening this issue, can you provide a little more information such as which version number the app is and exactly which modes crash the app when setting them as default?

[2020-01-05 01:41] yaichenbaum commented on #274
This should be fixed with the next update, please reopen if you find its still an issue.

[2020-01-05 01:41] #274 closed

[2020-01-05 04:09] #244 closed

[2020-01-05 11:40] Jonatz commented on #303
@yaichenbaum I'm on version 4.3.89.0 (beta, I guess). It seems to crash only when being set to overlay mode. Switching the default mode to other modes seems to before that seems to make it robust. I couldn't make out the exact pattern but switching default mode to overlay after a reset almost always crashes it.

[2020-01-06 07:02] dependabot-preview[bot] opened #314 "Dependabot couldn't find the branch refactor"
Dependabot was set up to create pull requests against the branch `refactor`, but couldn't find it.

If the branch has been permanently deleted you can update Dependabot's target branch from your [dashboard](https://app.dependabot.com/accounts/UWPCommunity).

[View the update logs](https://app.dependabot.com/accounts/UWPCommunity/update-logs/19593654).

[2020-01-06 14:29] #314 closed

[2020-01-06 15:06] Jonatz commented on #303
@yaichenbaum I just received an update to 4.3.91.0. The app doesn't crash anymore, when setting the launch mode to overlay. By testing this I encountered a secondary bug: When launching into overlay mode and clicking the mode change button, the app switches to a hybrid mode. It looks like focus mode, but there is no back button in the upper left corner but the symbol for mode switching. Unfortunat

[2020-01-06 15:09] yaichenbaum commented on #303
@Jonatz Thanks for the update, that bug is something I can reproduce, as of now a workaround is ctrl + shift + 1 to get out of that "hybrid mode". We will take a look about fixing this as soon as posible.

[2020-01-09 15:22] yaichenbaum commented on #303
@ahmed605 Do you want to take a look to see if you can figure this out?

[2020-01-10 07:34] cognitom opened #315 "No UTF-8 detection without BOM"
**Describe the bug**
If the file saved as "UTF-8 without BOM", Quick Pad dosen't detect it.

**To Reproduce**
Steps to reproduce the behavior:
1. Save a text file like "0123456789" as "UTF-8 without BOM" in another application like VS Code.
2. Open the file above with Quick Pad,
3. "US-ASCII" will be shown in its status bar,

**Expected behavior**
"UTF-8" should be detected as "UTF-8" even if it h

[2020-01-10 08:02] cognitom opened #316 "Weird behavior around UTF-8"
**Describe the bug**
If the file was saved as "UTF-8 with BOM," there are some weird behaviors:

- single byte letters disappear
- the lines are shown in RTL (right to left) mode

and, there is a potential danger that **the file content will be lost** if the file is auto-saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Save a text file like "0123456789\nABCDEFG\n〇一二三四五六七八九" as "UTF-8 w

[2020-01-10 09:01] cognitom opened #317 "Can't input multi-byte letters via IME"
**Describe the bug**
Multi-byte languages (ex. Japanese) need some [IMEs](https://en.wikipedia.org/wiki/Input_method) to input their letters. I can input single letters (ex. `あ` `亜`) via IME, but can't multiple-letters (ex. `あい`) or its converted one (ex. `愛`).

**To Reproduce**
Steps to reproduce the behavior:
1. Start from a new file
2. Activate IME (ex. [Google Japanese Input](https://www.googl

[2020-01-10 17:38] sharpninja commented on #315
This needs to be configurable.  Maybe the default us UTF-8 on no BOM, but there are definitely times when that would be bad.

[2020-01-10 17:40] yaichenbaum commented on #315
We don't we follow however its done in VS Code?

[2020-01-10 18:07] sharpninja commented on #315
https://stackoverflow.com/questions/30082741/change-the-encoding-of-a-file-in-visual-studio-code

It's configurable.
________________________________
From: Yair Aichenbaum <notifications@github.com>
Sent: Friday, January 10, 2020 11:40:12 AM
To: UWPCommunity/Quick-Pad <Quick-Pad@noreply.github.com>
Cc: The Sharp Ninja <ninja@thesharp.ninja>; Comment <comment@noreply.github.com>
Subject: Re: [UWPCo

[2020-01-10 18:42] yaichenbaum commented on #315
The problem here is its reading as ASCII when its really UTF-8. We can add an option to change it like in VS Code as well but first we need to detect it right in the first place.

[2020-01-10 23:45] sharpninja commented on #315
Without a BOM you cannot detect UTF-8 as it looks like ASCII.
________________________________
From: Yair Aichenbaum <notifications@github.com>
Sent: Friday, January 10, 2020 12:42:09 PM
To: UWPCommunity/Quick-Pad <Quick-Pad@noreply.github.com>
Cc: The Sharp Ninja <ninja@thesharp.ninja>; Comment <comment@noreply.github.com>
Subject: Re: [UWPCommunity/Quick-Pad] No UTF-8 detection without BOM (#315

[2020-01-12 17:43] yaichenbaum opened #318 "Ctrl + + should be handled correctly"
Ctrl + + is what we use to zoom in, the problem is the RichEditBox uses that shortcut to toggle superscript. We need to find a way to keep Ctrl + + while not toggling superscript.

[2020-01-12 18:12] yaichenbaum commented on #303
I managed to get it working for setting to launch in Compact Overlay Mode however I still need to fix setting it to focus mode.

[2020-01-12 18:26] yaichenbaum commented on #303
I have a fix and it should roll out with the next update, please reopen this issue if it still occurs on future versions.

[2020-01-12 18:26] #303 closed

[2020-01-12 18:29] yaichenbaum opened #319 "Fix behaviors around changing the launch mode"
When you change the launch mode to compact overlay mode it hides the menus but it doesn't actually make it always on top, the expected behavior is that it actually goes to on top mode.

When you set the launch mode to focus mode and restart the app then the back button to leave focus mode overlaps with the app title, we need to handle this better so that it displays right.

[2020-01-12 18:56] sharpninja commented on #319
It was doing it correctly but got changed to a smaller width.
________________________________
From: Yair Aichenbaum <notifications@github.com>
Sent: Sunday, January 12, 2020 12:29:17 PM
To: UWPCommunity/Quick-Pad <Quick-Pad@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [UWPCommunity/Quick-Pad] Fix behaviors around changing the launch mode (#319)

When you change the

[2020-01-12 19:21] yaichenbaum commented on #319
In any case its something to fix at some point.

[2020-01-13 00:37] yaichenbaum opened #321 "AskToSave dialog is showing twice"
**Describe the bug**
The AskToSave dialog is showing more then once when clicking on open.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Quick Pad
2. Type some text
3. Try clicking on file + open
4. The ask to save dialog shows, click no and choose a file to open. You will see that the ask to save dialog once again asks you if you want to save.

**Expected behavior**
The expected beha

[2020-01-13 00:54] yaichenbaum commented on #321
I did some digging and found the problem is coming from the DocumentManager in ApplicationController.
What we need to do is figure out a way to skip the ask to save dialog in the `LoadFile` code on line 230 if the method is being called from `LoadDocument` which already handles the ask to save dialog.

[2020-01-13 15:26] yaichenbaum commented on #303
@Jonatz Can you update to the latest version and confirm if its still an issue?

[2020-01-13 18:14] Jonatz commented on #303
@yaichenbaum Yes, I can confirm that. I'm on version 3.4.95.0. It doesn't crash when setting default modes and switching from them to overlay mode manually (I tried really hard :D). There seems to be a small UI glitch, though. When setting the launch mode to focus, the back button bleeds into the title bar (see screeshot). Thanks for your work!
![quickpadfeedback](https://user-images.githubusercon

[2020-01-13 18:16] yaichenbaum commented on #303
That's great, I already created an issue #319 but decided to ship what was fixed already as opposed to keeping you waiting for longer 😊

[2020-01-13 20:03] yaichenbaum opened #322 "Add support for Shift-JIS encoded files"
A user requested support for Shift-JIS files. I attached a sample file they sent me.
[SJIS_encoded_text.txt](https://github.com/UWPCommunity/Quick-Pad/files/4055545/SJIS_encoded_text.txt)

[2020-01-14 14:43] yaichenbaum opened #323 "Some files are not opening correctly [This is a breaking bug]"
I included a few sample files that don't display correctly when opened in Quick Pad.
[LogRestore.TXT](https://github.com/UWPCommunity/Quick-Pad/files/4059660/LogRestore.TXT)
[1.txt](https://github.com/UWPCommunity/Quick-Pad/files/4059661/1.txt)
[ThirdPartyNotices.txt](https://github.com/UWPCommunity/Quick-Pad/files/4059662/ThirdPartyNotices.txt)

[2020-01-15 16:17] yaichenbaum commented on #175
Release notes have been updated,

[2020-01-19 19:30] yaichenbaum opened #334 "Things to fix with QuickPad.UI"
- [x] Opening a txt file makes the app think IsDirty is true.
- [x] Sometimes opening a file from file explorer shows the splash screen and then just crashes the app.

[2020-01-19 21:07] FJduFou commented on #175
Voici les nouveautés dans la 4.3.96
• Quick Pad a été réécrit à partir de zéro!
• Ajout de la prise en charge de la définition de l'encodage par défaut.
• Amélioration de la conception et de la mise en page.

[2020-01-20 00:26] sharpninja commented on #334
I cannot reproduce this problem.  Please trigger this in VS and then pause the debugger to see where it's freezing.

[2020-01-20 05:11] sharpninja commented on #334
Commited to SharpNinja-Uno branch.  Please pull and test.

[2020-01-20 05:54] yaichenbaum commented on #334
@sharpninja in the future please don't check off the list until I finish testing, what I suggest is telling me when you something is fixed so I can test and then I will check it off 🙂

[2020-01-20 16:52] sharpninja commented on #334
No problem.  Might be good to put two text boxes, the first for "I'm Done' and the second for "Tested".

[2020-01-20 16:53] sharpninja commented on #334
I specifically fixed that last night.  Please validate.

[2020-01-20 16:53] sharpninja commented on #334
Cannot reproduce

[2020-01-20 16:54] sharpninja commented on #334
Please be more specific.  What is it doing wrong?

[2020-01-20 16:55] sharpninja commented on #334
As designed?  What is the expected action and behavior?

[2020-01-20 18:52] yaichenbaum commented on #334
@sharpninja this is for you to check off items on
- [ ] Changing the font color setting and reopening the app makes any text you type white.
- [ ] Set the default file mode to rtf, open Quick Pad, anything you type is white.
- [ ] Changing the font and font size in rtf mode isn't working
- [ ] The buttons on the toolbar are not updating based on the cursor position in rtf mode.
- [ ] Default font

[2020-01-21 05:38] sharpninja commented on #334
[ ] RTF
[ ] Text
[ ] Both?

[2020-01-21 07:21] sharpninja commented on #334
Without the default color selector this shouldn't be anything I can do anything about.

[2020-01-21 14:39] yaichenbaum commented on #334
@sharpninja
![image](https://user-images.githubusercontent.com/39923744/72813714-d2726d80-3c31-11ea-8f7a-3c0de86d5ff4.png)
I am often getting this crash the first time opening the app after changing a setting.

[2020-01-21 14:42] yaichenbaum commented on #334
This is still an issue in txt mode, we need to set the color ourselves depending on if its a light or dark theme.

[2020-01-22 00:14] PhilLB1239 commented on #175
Hold on, is there a way to contribute for the store page's translation as well?

[2020-01-22 00:50] yaichenbaum commented on #175
@PhilLB1239 There is 🙂

[2020-01-22 00:52] PhilLB1239 commented on #175
@yaichenbaum So, we just paste the translation here or do you provide a file for me to edit?

[2020-01-22 00:53] yaichenbaum commented on #175
You can just paste it here, in order to keep this issue clean I delete comments from time to time so don't worry if you see something go missing.

[2020-01-22 00:55] PhilLB1239 commented on #175
_oh no something is missing_

I am busy right now, but I will translate the page later, sounds good?

[2020-01-22 00:56] yaichenbaum commented on #175
The store description can be updated any time so its no rush, its the in-app ones that are more important since those are tied to a release.

[2020-01-22 05:06] yoshiask opened #335 "Unicode file not read or written properly"
**Description**
Some text files do not display properly at all. The following text is what breaks it:
"Ⲃⲱⲗ ̀‍ⲉⲃⲟⲗ ϧⲉⲛ ⲛⲉⲧⲉⲛϩⲏⲧ: ̀‍ⲛⲛⲓⲙⲟⲕⲙⲉⲕ ̀‍ⲛⲧⲉ ϯⲕⲁⲕⲓⲁ: ⲛⲉⲙ ⲛⲓⲙⲉⲩⲓ ⲉⲧϣⲉⲃϣⲱⲃ: ⲉⲧⲓⲣⲓ ̀‍ⲙⲡⲓⲛⲟⲩⲥ ̀‍ⲛⲭⲁⲕⲓ."
There are lots of different ways to break it, each in a slightly different way. This issue appears to be related to #316 and possibly #315.

**A)** When the file is written by a simple .NET Core cons

[2020-01-22 14:07] yaichenbaum commented on #316
@cognitom Thank you for creating this issue, this has been added to our roadmap to address for a future release and we will make sure to let you know when a fix is ready.

[2020-01-22 14:09] yaichenbaum commented on #317
Thank you for creating this issue, it looks like there are several issues people are running in to with encoded files and we are working on fixing them.

[2020-01-22 14:09] yaichenbaum commented on #335
@yoshiask Thank you for creating this issue, we will look in to fixing this with the next release.

[2020-01-22 21:27] sharpninja commented on #334
Ugh, ok.  This would be because when you select the range I get the font size for the range from the Document.  Of course, there can be only a single value, so it then see that may be different than what was there previously and so then it sets the backing value to the new value, which causes the SelectedItem to change in the font size box which triggers setting the font size of the range, which t

[2020-02-01 13:27] sharpninja commented on #334
I cannot reproduce this.  In the Assets folder there is a test RTF file.  Right click on it in Explorer and select Open With -> Quick Pad.  The colors come up correctly.

[2020-02-01 13:31] sharpninja commented on #334
Text must have a color assigned to it in RTF.  If a document is created in a theme that uses a light font then the baseline text is the light font.  Changing the theme does not change the default font color of the RTF file unless you apply the color to the RichEditBox.  However, doing so will override ALL font colors in the document.

I really, really, really believe that we should force the RichE

[2020-02-01 13:51] sharpninja commented on #334
I have fixed not being able to save.

[2020-02-01 14:14] sharpninja commented on #335
![UWP Problem](https://user-images.githubusercontent.com/16146732/73593491-aaed9180-44ca-11ea-82d6-2e8f1a18b39a.png)

This is for file D.txt

As you can see at the bottom, Quick Pad, Notepads and NotepadX all display the file with the exact same results as all three use the same UWP TextEdit control.  There appears to be a rendering bug in UWP causing this.

With IE 11 you can see what happens whe

[2020-02-01 14:30] sharpninja commented on #335
![File B problems](https://user-images.githubusercontent.com/16146732/73593735-e7ba8800-44cc-11ea-82e2-5bd630483078.png)

As you can see, UWP cannot display these characters in UTF-8 (no BOM, File B), either.  Other apps with problems displaying it are Visual Studio Code and Word Pad.  _NotepadX detects the file as ASCII because of no BOM, I actually changed it to use UTF-8 for the screenshot._

[2020-02-01 14:39] sharpninja commented on #335
![file c](https://user-images.githubusercontent.com/16146732/73593863-01100400-44ce-11ea-8dc5-fbc6dda37807.png)

The RTF file is not displayed correctly by anything.  Word and Word Pad both just show a blank document after loading it.  NotepadX and Quick Pad try to show it but the font rendering is a problem again.  Note Quick Pad uses the Rich Edit Box to show RTF files and the rendering of the f

[2020-02-02 00:32] yaichenbaum commented on #334
@sharpninja we went through this before about forcing a white background, this would ruin dark theme. All that needs to be done is assign a color based on the theme. A dark theme gets a white forecolor and a light theme gets a black forecolor.

[2020-02-02 00:33] yaichenbaum commented on #334
This is specifically when there is more then one color in the rtf file.

[2020-02-02 01:53] yoshiask commented on #335
@sharpninja The RTF file was generated by Quick Pad.

[2020-02-03 16:21] sharpninja commented on #334
This happens consistently in Windows 1909 and manifests as a crash of NTDLL.DLL due to a memory access fault.  It does not happen on 20H1.

[2020-02-09 21:49] sharpninja commented on #323
Are there any screenshots of it behaving incorrectly?

[2020-02-09 21:51] yaichenbaum commented on #323
![image](https://user-images.githubusercontent.com/39923744/74110652-55fdeb00-4b5c-11ea-95b3-53a74e763b72.png)
![image](https://user-images.githubusercontent.com/39923744/74110657-5d24f900-4b5c-11ea-9eb7-ffcfdae1b325.png)
![image](https://user-images.githubusercontent.com/39923744/74110662-644c0700-4b5c-11ea-82b9-8ec2e7cbaad5.png)

[2020-02-12 22:04] yaichenbaum commented on #163
There are some new strings in the `develop` branch ready to be translated, ar-EG and es are already up to date.

[2020-02-12 22:04] #334 closed

[2020-02-13 02:20] PhilLB1239 commented on #175
**French (Canada) version of the Store description**

Quick Pad inclut aussi plusieurs options pour personnaliser le visuel et la sensation ainsi que plusieurs options de thèmes.

[2020-02-14 14:29] diligamer opened #346 "Text Aligning Buttons Overlap"
**Describe the bug**
The text-align buttons are fucked up.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a new file
2. write some text
3. use the align text buttons and click each one
4. leave it alone

**Expected behavior**
The button of the selected aligning should be highlighted.

**Desktop (please complete the following information):**
 - OS Version: Win 10 1909
 - App version: 4.

[2020-02-14 14:34] yaichenbaum opened #347 "Things broken in UNO"
Creating new documents is not clearing the text in rtf mode.

[2020-02-14 14:37] yaichenbaum commented on #346
@diligamer Thank you for reporting this issue, it should already be fixed in the `develop` branch and as soon as everything in that branch is stable it will be released.

[2020-02-14 15:28] diligamer commented on #346
:shipit:

[2020-02-14 15:33] diligamer commented on #73
@yaichenbaum I highly recommend closing the issue.

[2020-02-14 15:35] yaichenbaum commented on #73
@diligamer It already is closed 😕

[2020-02-14 15:36] diligamer commented on #73
I meant lock it.

[2020-02-14 15:40] yaichenbaum commented on #73
@diligamer Can you explain the benefits of doing that?

[2020-02-14 15:45] diligamer commented on #73
prevent people from talking in a closed issue.

[2020-02-14 18:46] sharpninja commented on #347
[ ] Auto Save is broken.
[ ] Creating new documents is not clearing the text in rtf mode.
[ ] Undo and redo buttons are not working
[ ] Exit button is not working

[2020-02-15 07:10] diligamer opened #352 "NotePad/ Wordpad File Corruption"
**Describe the bug**
Files created in the former get corrupted. Opening RTF Files gives an error from Microsoft word.

**To Reproduce**
1. Make a file through the former
2. View It In QuickPad

**Expected behavior**
The File Should be viewable normally.

**Desktop (please complete the following information):**
 - OS: Win10 1909 18363.657
 - App version: 4.3.97.0

[2020-02-15 07:11] diligamer commented on #335
#352 Is also relevant to this discussion.

[2020-02-15 07:13] diligamer commented on #352
For clarification, The 'Former' Is WordPad/NotePad. And The Corruption shows up as question marks in rhombus

[2020-02-16 00:00] sharpninja commented on #352
Is this happening from HEAD of develop branch, or what's in the store?

[2020-02-16 01:22] vsnst opened #353 "Keyboard shortcut for "No Save" like legacy Notepad"
**Is your feature request related to a problem? Please describe.**
In legacy Notepad, I can press "y" for "Save" or "no" for "Don't Save".
But Quick pad does not work that way
![Annotation 2020-02-16 092123](https://user-images.githubusercontent.com/36701269/74597662-c1d0de00-509d-11ea-8ac8-a53afcb0b253.png)

**Describe the solution you'd like**
Just work the way like legacy Notepad, I can press "

[2020-02-16 02:19] #347 closed

[2020-02-17 16:40] diligamer commented on #352
The app from the store

[2020-02-20 21:03] yaichenbaum commented on #346
@diligamer The update is now in certification, please reopen this issue if you find its still a problem in 4.4.0.

[2020-02-20 21:03] #346 closed

[2020-02-20 21:07] yaichenbaum commented on #352
@diligamer I am not able to reproduce this issue, can you check if you still run into this when 4.4.0 rolls out?

[2020-02-20 21:09] yaichenbaum commented on #353
@vsnst Thank you for opening this issue, I will look into doing this for a future release.

[2020-02-21 10:37] diligamer opened #367 "Change The Icon(& Name) To Look More stock"
**Is your feature request related to a problem? Please describe.**
Quickpad's icon is cool but I hate how it doesn't fit and look like Microsoft would make.

**Describe the solution you'd like**
Replace the icon with https://filebin.net/eeclj43jpnqpxc8t

**Additional context**
A Name change to something like "Notes" or the names of Wordpad or notepad would also be appreciated.

[2020-02-21 11:33] diligamer commented on #353
And ESC To cancel @yaichenbaum

[2020-02-21 12:17] vsnst commented on #353
I also found some of the shortcuts that work in legacy notepad does not work in Quick pad.
For example, Ctrl+H for replace.

And the info at the right corner doesn't change.
![image](https://user-images.githubusercontent.com/36701269/75034015-35804a00-54e7-11ea-9cff-0e641af38529.png)

[2020-02-21 14:19] yaichenbaum commented on #367
@diligamer Thank you for bringing this up, Quick Pad already uses a fabric UI icon which is the style Microsoft uses as well for all the new icons they make. Nevertheless, I will look into improving the design.
Unfortunately, I cannot use the name Wordpad, Notepad, or Notes because those are either products from Microsoft or apps already in the store.

[2020-02-21 14:20] yaichenbaum commented on #353
@diligamer Esc already works to cancel, is it not working for you?

[2020-02-21 14:22] yaichenbaum commented on #353
@vsnst I just tested and `ctrl + h` did open the replace dialog, can you confirm its still an issue in 4.4.0? It would also help if you can explain which information on the right is not updating.

[2020-02-21 19:26] diligamer commented on #367
The Microsoft apps for notetaking are called "Sticky Notes" and "OneNote". "Notepad" Is taken but "WordPad" Isn't. Windows 10X's Fabric icon for a "notes" app is the one linked.

[2020-02-21 20:04] yaichenbaum commented on #367
WordPad is actually built into Windows.

[2020-02-21 20:38] yaichenbaum commented on #367
![image](https://user-images.githubusercontent.com/39923744/75069898-2934c680-54c0-11ea-8738-f8465528bd8a.png)

[2020-02-21 23:24] sharpninja commented on #367
I like ir
________________________________
From: Yair Aichenbaum <notifications@github.com>
Sent: Friday, February 21, 2020 2:38:11 PM
To: UWPCommunity/Quick-Pad <Quick-Pad@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [UWPCommunity/Quick-Pad] Change The Icon(& Name) To Look More stock (#367)

[image]<https://user-images.githubusercontent.com/39923744/75069898-293

[2020-02-22 05:50] diligamer commented on #367
Y

[2020-02-22 05:56] diligamer commented on #353
@yaichenbaum Hadn't tested it, i didn't even know these shortcuts existed.

[2020-02-23 01:15] yaichenbaum commented on #353
@diligamer Most shortcuts are already implemented, I need more details about `ctrl + h` and I need to add some for the save dialog but other than that the app should meet accessibility standards.

[2020-02-23 12:23] #367 closed

[2020-02-23 12:23] diligamer commented on #367
This Issue Was closed because it has been solved.

[2020-02-24 19:49] colinkiama opened #382 "Share crashes the app"
**Describe the bug**
The app crashes after attempting to use the "share" feature

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'File'
2. Click on 'Share'
3. App will load the share dialog for a bit then eventually crash

**Expected behavior**
The share dialog being opened, showing share targets

**Desktop (please complete the following information):**
 - OS Version: Windows 10 1909 1

[2020-02-24 20:40] yaichenbaum commented on #382
@colinkiama Thank you for reporting this bug. I was able to reproduce the bug multiple times.

[2020-02-26 06:38] diligamer commented on #382
Mine crashes on bootup of app.

[2020-02-26 08:25] vsnst commented on #353
It works only after I pressed Ctrl+F (find dialog).

[2020-02-26 09:29] vsnst commented on #353
Check out this video, it clearly shows what the situation is. Hope it will hope you

BTW, I love both old icon and new icon. Thank you for keeping up-to-date.

[2020-02-26 09:42] vsnst commented on #353
opps, Github can't upload video files.

This link only available for 2 weeks.
[https://files.fm/f/6py95kmq](url)

Also I want to ask how to get this layout on settings?
![Annotation 2020-02-26 162822](https://user-images.githubusercontent.com/36701269/75332402-46520680-58bf-11ea-8353-122499fc7fe9.jpg)
This picture is from Microsoft Store.

[2020-02-26 09:48] vsnst commented on #353
it was more than 1 line or 6 col
but the information shown on the right corner only 1 line and 6 col which is wrong.

I tested on the newest version, no issues of that so far. Thank you

[2020-02-26 14:25] yaichenbaum commented on #382
@diligamer Try resetting the app.

[2020-02-26 15:27] yaichenbaum commented on #353
@vsnst You can get that layout by changing the launch mode. I figured out what's happening with `ctrl + h`. If you open the app and use the shortcut it should work fine, however, if you close the dialog and try to use the shortcut again then it won't work. This issue is now on our list of things to do.

[2020-02-29 15:46] Jonatz commented on #382
@diligamer @yaichenbaum I'm on 4.4.1.0. My app crashes on launch, too. Resetting and reinstalling didn't resolve the issue. I'm not sure how to give you log files or crash reports.

[2020-03-01 01:19] yaichenbaum commented on #382
@Jonatz Can you check Event Viewer?

[2020-03-01 01:30] sharpninja commented on #382
What is you Windows build?
________________________________
From: Yair Aichenbaum <notifications@github.com>
Sent: Saturday, February 29, 2020 7:19:43 PM
To: UWPCommunity/Quick-Pad <Quick-Pad@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [UWPCommunity/Quick-Pad] Share crashes the app (#382)

@Jonatz<https://github.com/Jonatz> Can you check Event Viewer?

—
You are

[2020-03-01 09:08] Jonatz commented on #382
@yaichenbaum @sharpninja My to PCs are on 18363.693. I pastetd the event protocol in XML below. I used Event Viewer for the first time, I hope, this is the right one.

- <Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event">
- <System>
  <Provider Name="Application Error" />
  <EventID Qualifiers="0">1000</EventID>
  <Level>2</Level>
  <Task>100</Task>
  <Keywords>0x80000000000000</

[2020-03-01 13:36] sharpninja commented on #382
That’s a pretty old build of Windows.  Any chance of you updating?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Jonatz <notifications@github.com>
Sent: Sunday, March 1, 2020 3:08:32 AM
To: UWPCommunity/Quick-Pad <Quick-Pad@noreply.github.com>
Cc: The Sharp Ninja <ninja@thesharp.ninja>; Mention <mention@noreply.github.com>
Su

[2020-03-01 13:41] Jonatz commented on #382
@sharpninja I'm sorry, it seems to be the latest public release of 1909. https://en.wikipedia.org/wiki/Windows_10_version_history#Version_1909_(November_2019_Update)

[2020-03-01 13:48] sharpninja commented on #382
OK, let me think on it.

[2020-03-01 15:10] yaichenbaum commented on #382
I have gotten one other report of someone running into this same issue. Is the crash every single time you open Quick Pad, or only some of the times?

[2020-03-01 15:30] Jonatz commented on #382
@yaichenbaum It occurs on every launch on both devices. Since this first had emerged, I couldn't use the app.

[2020-03-01 15:32] yaichenbaum commented on #382
Can you try resetting the app using the Windows 10 settings app? There was a small change that caused some users to need to reset the app that way after updating to 4.3.9.0.

[2020-03-01 16:29] Jonatz commented on #382
@yaichenbaum I reset the app via Settings but this wouldn't resolve the issue.

[2020-03-01 16:30] yaichenbaum commented on #382
@Jonatz Are you use an ARM device?

[2020-03-01 16:31] Jonatz commented on #382
@yaichenbaum No, one is a custom desktop PC and the other one is a Surface Pro 5

[2020-03-01 16:32] yaichenbaum commented on #382
@Jonatz Can you try to clear out the folders for Quick Pad in the WindowsApps folder?

[2020-03-02 04:12] vsnst commented on #353
Thank you for noticing me.
I only get a few tools unlike the one in the Microsoft Store, did I do anything wrong.
![Annotation 2020-03-02 121114](https://user-images.githubusercontent.com/36701269/75644917-fc7e6d00-5c7e-11ea-85fe-30aadfbfcb1a.png)

[2020-03-02 04:16] yaichenbaum commented on #353
You did nothing wrong, if you open a rich text file then you will get a lot more options.

[2020-03-02 12:03] Jonatz commented on #382
@yaichenbaum After uninstalling the app, I can't find any QuickPad folders in my WindowsApps folder. I screenshotted the folders before unistalling (see below)
<img width="405" alt="Snipaste_2020-03-02_13-00-58" src="https://user-images.githubusercontent.com/17417041/75674775-1c655f00-5c86-11ea-9deb-2751a9c5098a.png">

[2020-03-02 13:42] yaichenbaum commented on #382
@Jonatz This is really strange. I understand if you don't want to do this but to help me get to the bottom of this issue would you be able to try running the app from the source code?

[2020-03-02 13:47] Jonatz commented on #382
@yaichenbaum I'd be glad to help. Please understand that it will take me a little time because I wrote my last line of C# code four years ago (oh, the WP8 halcyon days) and Visual Studio is not even installed on my system.

[2020-03-02 13:48] yaichenbaum commented on #382
@Jonatz I really appreciate this. I understand it will take time but I hope it helps us figure out what went wrong. Please let me know if you need any help getting it set up.

[2020-03-03 15:43] diligamer opened #384 "Crashing On Launch"
**Describe the bug**
The App Gives up when launched

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Quickpad

**Expected behavior**
It should launch

**Desktop (please complete the following information):**
 - OS: [e.g. Windows 10 2004 19569.1000
 - App version: Undefined

**Additional context**
Add any other context about the problem here. For instance, are you building from source o

[2020-03-03 15:43] yaichenbaum commented on #384
Can you try resetting the app?

[2020-03-03 15:45] diligamer opened #385 "Make the text area have a white background"
**Is your feature request related to a problem? Please describe.**
Writing on black feels unnatural

**Describe the solution you'd like**
Make the text box white

**Describe alternatives you've considered**
Setting to light mode

[2020-03-03 15:46] yaichenbaum commented on #385
To change the app to light mode,
- Open the settings page in Quick Pad
- Go to theme options
- Choose light mode.

[2020-03-03 15:46] #385 closed

[2020-03-04 11:43] diligamer commented on #384
Tried Reset and Uninstall. That didn't work.

[2020-03-04 11:46] diligamer commented on #385
That Is Not What I Asked For. I am talking about 'The Text Box', not the 'App UI'.

[2020-03-04 11:48] diligamer commented on #384
Here is the Event Viewer Error.
`Faulting application name: QuickPad.UI.exe, version: 1.0.0.0, time stamp: 0x5e52b263
Faulting module name: KERNELBASE.dll, version: 10.0.19569.1000, time stamp: 0xa6e2770a
Exception code: 0x00001007
Fault offset: 0x00000000000c46a3
Faulting process id: 0x2794
Faulting application start time: 0x01d5f21a2d4fac2c
Faulting application path: C:\Program Files\WindowsApps

[2020-03-04 14:35] yaichenbaum commented on #385
I don't have any plans to implement this as an option.

[2020-03-04 14:39] yaichenbaum commented on #384
This seems to be caused by an error in the SDK, I am on 19569 and don't have the issue so it could be there is a fix that you haven't gotten yet.
@sharpninja Is there anything @diligamer can do to resolve this, or do we need to implement advanced logging to find out where the error is?

[2020-03-04 16:55] sharpninja commented on #384
I think logging is going to be required.
________________________________
From: Yair Aichenbaum <notifications@github.com>
Sent: Wednesday, March 4, 2020 8:39:15 AM
To: UWPCommunity/Quick-Pad <Quick-Pad@noreply.github.com>
Cc: The Sharp Ninja <ninja@thesharp.ninja>; Mention <mention@noreply.github.com>
Subject: Re: [UWPCommunity/Quick-Pad] Crashing On Launch (#384)

This seems to be caused by an e

[2020-03-04 18:42] diligamer commented on #384
**Error:**
[code]

[2020-03-05 14:12] sharpninja commented on #384
Unfortunately without a stack trace it doesn't add much.  We have seen random WinRT errors that cause exceptions in the Kernal, but they typically go away after updates to Windows.  I am going to have to put a ton of logging into the app to figure out which line of code is crashing inside the kernal.

[2020-03-19 14:16] diligamer commented on #384
This Also Occurs with Files UWP

[2020-03-19 14:19] yaichenbaum commented on #384
The issue with Files UWP is different than the one here. This one is caused by an SDK issue, while the Files UWP one is something else.
Unless the issue is fixed for you with Quick Pad, I will be keeping this open to continue tracking it until it's fixed.

[2020-03-19 14:24] diligamer commented on #385
I am Dissapinoted that you have rejected my issue, but I understand that my use case is not needed by a large majority of users.

[2020-03-19 14:27] yaichenbaum commented on #385
When is that you want a white background? It wouldn't make sense to have that in dark mode since that wouldn't be dark mode anymore. If you want it in light mode, it is already implemented that way. There is also the option to have an acrylic background for the textbox if you would like, and you can adjust the tint opacity there as well.

[2020-03-20 17:22] diligamer commented on #384
From What I Can Understand, It seems like the app is crashing the kernel

[2020-03-20 19:44] yaichenbaum commented on #384
That is the case here, the issue with Files UWP was actually fixed and an update for it is currently in certification in the store.

[2020-03-23 21:14] duke7553 opened #393 "Basic Line Numbering"
**Describe the solution you'd like**
Add numbers for each line-ascending along the left side of the app as an optional setting.

**Describe alternatives you've considered**
Not applicable

**Additional context**
Other notepad apps have this functionality.

[2020-03-23 21:38] yaichenbaum commented on #393
This will be a nice addition, but we need to think it through. The reason I held off on this is as soon as line numbering is added, requests will start coming for syntax highlighting as well. The goal is to keep Quick Pad as simple as possible. That being said, this can be kept open for discussion to see if it is something Quick Pad users really want.

[2020-03-23 22:38] duke7553 commented on #393
Good idea. I'll post some of my **untested** code below as a reference implementation instead. (For how it _could_ be done)
[code]

Essentially, when it's appropriate to update the line numbers, we should compare the width of the text (if it were on a single line) to the width of space available. This should tell us how many lines were wrapped. The wrapped lines should not include a line number, b

[2020-03-23 22:39] duke7553 commented on #393
The newly-filled collection of `Numbers` must then be bound to a vertical strip in the GUI. (Probably a ListView-derived control)

[2020-03-24 15:49] yaichenbaum commented on #393
@duke7553 Thank you for sharing it! @sharpninja is working on a code editor based on Quick Pad so this might be helpful for him.

[2020-03-24 16:30] diligamer commented on #384
It Seems Like Some Code In The Kernel Has Changed. Read The Changelog (And Maybe The Docs) For The Specific Build.

[2020-03-26 09:08] Slevilex commented on #175
Quick Pad - Akıcı Not Defteri

Quick Pad not almayı kolaylaştırıyor. Az yer kaplayan arayüz uygulamayı diğer pencerelerin üstünde tutup üretken olmanıza yardımcı oluyor. Bu uygulama otomatik kayıt, odaklanma modu ve .rtf (zengin metin belgesi) desteği gibi faydalı özellikler içeriyor.
Quick Pad görünümü özelleştirmek için bir sürü ayar ve çeşitli temalar sunuyor.

Turkish
I can translate the whole

[2020-03-26 13:04] diligamer opened #401 "iOS And Android Design Protoype"
![Concept](https://user-images.githubusercontent.com/32780515/77650296-53284f80-6f7c-11ea-8297-0759d7682ac8.png)

This Is Just A Concept, Any Thoughts?

[2020-03-26 13:19] yaichenbaum commented on #401
![image](https://user-images.githubusercontent.com/39923744/77651150-bf865d00-6f42-11ea-9a38-e5bd2b6eb96d.png)

This is just a small sneak-peek of what we are planning 😉

[2020-03-26 13:51] diligamer commented on #401
Here are some features to consider:

* Recent Files Area As Homepage

* Removing The Topbar Accent

[2020-03-26 13:52] yaichenbaum commented on #401
Recent Files will be the home page. Can you explain what you mean by "Removing The Topbar Accent"?

[2020-03-26 16:47] yaichenbaum commented on #175
@Slevilex See this [doc](https://github.com/UWPCommunity/Quick-Pad/blob/develop/docs/TRANSLATOR.md ) about translating the app.

[2020-03-26 16:49] Slevilex commented on #175
Unfortunately, I use Linux and I have to work on the text directly.

[2020-03-26 16:51] Slevilex commented on #175
@yaichenbaum

[2020-03-26 16:51] yaichenbaum commented on #175
It is possible to do that, just copy one of the existing xlf files from another language and change the relevant information to target the correct language.

[2020-03-26 16:52] Slevilex commented on #175
@yaichenbaum Can you send me an example language for me to directly translate?

[2020-03-26 16:54] yaichenbaum commented on #175
@Slevilex Sure, take a look at [this ](https://github.com/UWPCommunity/Quick-Pad/blob/develop/src/QuickPad.UI/QuickPad.UI/MultilingualResources/QuickPad.UI.fr-CA.xlf)one.

[2020-03-26 17:04] Slevilex commented on #175
@yaichenbaum Thank you, I will start translating soon.

[2020-04-01 16:12] diligamer commented on #352
This Is Fixed Now, No Worries

[2020-04-01 16:13] #352 closed

[2020-04-01 16:17] yaichenbaum commented on #352
@diligamer Thank you for letting us know.

[2020-04-01 16:20] diligamer opened #402 "Invert Black Font Color"
**Is your feature request related to a problem? Please describe.**
If Users Make An RTF Document In Quickpad Dark Mode, They Must Put The Text To White. The Problem is if users share a document to someone without quickpad, they cannot see the white text

**Describe the solution you'd like**
Invert Black In Darkmode

**Describe alternatives you've considered**
Changing The Text Area To White (The A

[2020-04-01 16:23] yaichenbaum commented on #402
This is an unfortunate side effect of RTF files, we don't have plans to invert the colors since that would require inverting not only black text but all other colors as well. The best we can do is recommend using txt mode if you want to share files since that will automatically invert the text for you.

[2020-04-01 16:28] diligamer opened #403 "Make Quickpad Similar To Wordpad"
This would be implemented by adding

* Rulers
* Ribbon (File, Home, View)
* FIle Menu
* White Text Background (App UI Is Still Dark)
* Paper Like (centered)
* Zooming Functions And The Respective Buttons
* Page Setup
* Multiple Pages If Document Is Out Of Margin
* Add Image, Date, Drawing And Object Insertions

![image](https://user-images.githubusercontent.com/32780515/78330348-765e8a80-758c-11ea

[2020-04-01 16:29] yaichenbaum commented on #403
I am thinking of working on another app with more features, Quick Pad is supposed to have a more basic set like Notepad.

[2020-04-01 16:32] diligamer commented on #403
Isn't QuickPad  Both A RTF and TXT Editor

[2020-04-01 16:37] yaichenbaum commented on #403
It is both, but the main focus is txt files, for example, the default mode when installing the app is Classic Mode. The default file type is txt. I view RTF support as a bonus feature, but not enough to focus on additional color support and making it similar to Wordpad. Another issue is the RichEditBox control is pretty buggy and wouldn't provide for a great experience as a fully-featured rich tex

[2020-04-01 16:38] diligamer commented on #401
The Blue Should Be removed

[2020-04-01 16:40] diligamer commented on #402
Sorry For The Confusing Issue, Only Black Should Be Inverted, The RTF Code Should Still Say White

[2020-04-01 16:44] diligamer commented on #403
I Am Seeing A Ribbon And Zooming Is Only Possible Right Now. Can We Narrow To That Instead?

[2020-04-01 16:45] yaichenbaum commented on #403
A ribbon would be a major shift of direction for Quick Pad that I do not want to do. Zooming should already be implemented though.

[2020-04-01 16:46] yaichenbaum commented on #401
The blue is just the accent color. I am pretty sure that newer versions of Android will let you change that.

[2020-04-01 16:54] diligamer commented on #401
The Material Theming "spec" (The Native Android Design) Doesn't Have Topbar Accents

[2020-04-01 17:09] diligamer opened #404 "Branding The Three Versions"
Since @yaichenbaum Is Working On An RTF Focused Version, And @sharpninja Is Working On A Code Editor Version, I Think We Need A Naming System For The Trio.

Currently, OneNote, WordPad, NotePad And Sticky Notes are taken.

Here Is The System:

* The TXT Focused (Quick Pad) → TextPad (Brings #1, Removes RTF Functionality)
* The RTF Focused (@yaichenbaum's Version) → DocPad (Removes TXT Functionalit

[2020-04-01 17:48] #401 closed

[2020-04-01 17:48] diligamer commented on #401
This issue is closed because it is uncessary

[2020-04-01 17:59] yaichenbaum commented on #404
I wouldn't put them all together since they are three separate apps. There are plans for tabs in Quick Pad however there is no timeline.

[2020-04-02 05:36] diligamer commented on #404
No, They Are Still Separate But have Similar names (*Pad)

[2020-04-02 12:49] diligamer commented on #404
http://codepad.org/ Oh No

[2020-04-13 09:24] MuMDevelopment commented on #175
Here a German version of the Store page:

### Description

### What's new in this version

	- Quick Pad wurde von Grund auf neu programmiert
	- Unterstützung für das standardmäßige  festlegen einer bestimmten Kodierung hinzugefügt
	- Design und Layout verbessert

### Features

Klassischer Modus
Automatisches Speichern
Dunkler Modus
Emojis

[2020-04-14 01:46] yaichenbaum commented on #403
Closing since there are no plans to make Quick Pad more like Wordpad.

[2020-04-14 01:46] #403 closed

[2020-04-14 01:48] yaichenbaum commented on #404
Closing this issue since right now the plan is to keep making incremental tweaks to the app, rather then shifts in the target audience.

[2020-04-14 01:48] #404 closed

[2020-04-14 01:49] yaichenbaum commented on #384
There has been a couple of updates to Windows since this issue was opened, is this still an issue?

[2020-04-14 01:57] #393 closed

[2020-04-17 01:55] yaichenbaum commented on #382
This issue has been fixed with 24fd2ff06d48836981cfcb669e4fb001df531117.

[2020-04-17 01:55] #382 closed

[2020-04-17 11:01] diligamer commented on #384
Yes, I Am Using 19603.1000 Build 2004 Or 19603.rs_prerelease.200403-1523.

[2020-04-17 11:04] diligamer commented on #404
Make Different Versions Like This Issue Says For Each Target Audimce

[2020-04-17 17:51] sharpninja commented on #404
I have already been asked by Yair to rename Quick-Code, so that's already something I intend to do.

[2020-04-17 17:52] sharpninja commented on #384
Try resetting the app again since last update to Windows.

[2020-04-17 17:58] diligamer commented on #384
Thanks, This Fixes It!

[2020-04-17 18:00] diligamer commented on #404
CodePad Sounds Better In My Opinion

[2020-04-17 18:20] #384 closed

[2020-04-19 10:55] DonLuke25 opened #409 "Performance drop when using emojis"
**Describe the bug**
Hello, I use Quick Pad to prepare many basic notes, including templates for social media posts and I've noticed, there's a significant performance drop when using emojis in a document. When selecting text, copying/pasting and typing. It must be a longer document. The UI still works well, it's really only when working with the text inside of the document.

**To Reproduce**
Try

[2020-04-19 14:33] yaichenbaum commented on #409
Thank you for the issue report, I have been able to reproduce this consistently. I believe the issue lies with the WinUI text controls, there is an open [issue](https://github.com/microsoft/microsoft-ui-xaml/issues/1842) on the WinUI repository requesting support for better handling of larger files. Make sure to upvote the issue on the WinUI repository in order to make this a higher priority to ad

[2020-04-19 20:22] DonLuke25 commented on #409
Done. Thank you and hopefully it will be possible to fix it!

[2020-04-23 00:09] Tminus1 opened #411 "Ctrl + F is a bit buggy"
When using ctrl + F you need to first click the dropdown arrow and then click "Find next" to actually register what you want to find, otherwise it won't search for anything. Also when you want to do a second search, it doesn't register that you want to find something different and it will try to search for the previous inputted text unless you either press the enter key or click "Find next" again.

[2020-04-23 00:10] Tminus1 commented on #411
Also an important thing. After I press Ctrl+F I expect the app to shift focus to the Find box and the caret to show up there, just like in Chrome. This doesn't happen and I always forget about it so instead of typing what I want to find I just type in the document. Please tell me if I should make a different bug report for this.

[2020-04-24 21:24] #322 closed

[2020-04-24 21:25] yaichenbaum commented on #175
Moving forward, translations of the store page should be added to #163.

[2020-04-24 21:25] #175 closed

[2020-04-24 21:26] yaichenbaum commented on #409
@DonLuke25 Thank you, I try to keep Quick Pad on the latest version of WinUI, so you should see a fix in Quick Pad shortly after it's fixed from the WinUI end.

[2020-04-24 21:26] #409 closed

[2020-04-24 21:28] yaichenbaum commented on #317
@cognitom Can you check if this is the behavior in text boxes in other UWP apps as well?

[2020-05-04 16:40] diligamer commented on #411
It Also Crashes

[2020-05-04 16:43] diligamer commented on #404
This Issue Is For Naming And Icons Of The Different Apps

[2020-05-23 21:26] SuhasSrinivasan opened #417 "Scrolling issue in tab-delimited text file"
**Describe the bug**
There are two noticeable scrolling issues.
1. Slow next page loading (rows) when using vertical scrolling (two-finger scrolling).
2. Very choppy/jerky scrolling in horizontal direction and scroll bar does not appear.

**To Reproduce**
Happens in tab delimited text files (even though the file is less than 50 KB).
Please use the attached file to reproduce the issue.
The same iss

[2020-05-23 23:01] Senko-Dev opened #418 "Selection screen to select document type."
Currently, Quick Pad can create and edit RTF, MD, and TXT files, but the RTF and MD capability is not fully known by the UI. It would also be great because we can easily create documents. This page would also act like the launch window in visual studio, allowing users to open recent files and pin their most used files, the right pane is where the `create new document` area would be.

![image](http

[2020-05-24 02:07] yaichenbaum commented on #418
@Senko-Dev Thank you for opening this issue, the vision for Quick Pad is to be a simple text editor and not a full blown code editor like Visual Studio. There are no plans to make these changes in the future so I will be closing this issue.

[2020-05-24 02:07] #418 closed

[2020-05-24 02:11] yaichenbaum commented on #417
Thank you for opening this issue, the definitely sounds like a bug. I was able to reproduce it on my end and it seems to affect other UWP Text Editors as well, because of that I am thinking this is more of an issue with the underlying text control used in UWP apps, can you let me know if you have this same issue in other UWP apps such as Notepads?

[2020-05-24 02:20] SuhasSrinivasan commented on #417
Thank you for the quick response.
Yes, this issue exists on Notepads (Bug: https://github.com/JasonStein/Notepads/issues/549)

I am not sure about the underlying implementation, but this is not an issue in Code Writer which is a UWP app.
https://www.microsoft.com/en-us/p/code-writer/9wzdncrfhzdt

Both vertical and horizontal scrolling are smooth in Code Writer.

[2020-05-24 02:23] yaichenbaum commented on #417
I am fairly certain that Code Writer is using a third party TextEdit control while both Quick Pad and Notepads use the built in WinUI controls.

[2020-05-24 02:34] SuhasSrinivasan commented on #417
Thank you. So would the solution come from a WinUI fix?
There does not seem to be an appropriate bug reported in https://github.com/microsoft/microsoft-ui-xaml/issues

[2020-05-25 07:12] dependabot-preview[bot] opened #420 "Dependabot couldn't find the branch develop"
Dependabot was set up to create pull requests against the branch `develop`, but couldn't find it.

If the branch has been permanently deleted you can update Dependabot's target branch from your [dashboard](https://app.dependabot.com/accounts/UWPCommunity).

[View the update logs](https://app.dependabot.com/accounts/UWPCommunity/update-logs/34365029).

[2020-05-25 13:55] #420 closed

[2020-05-27 06:20] skpaik opened #421 "Tab Support"
**Please add NotePad++ type TAB.**

**It will help to open multiple code at a time**

**Otherwise it's just a MS notepad with color**

**Please please add this**

[2020-05-28 01:34] yaichenbaum commented on #421
This is something I can explore when I get back to working on the app.

That is exactly the goal of the app 😃

[2020-06-01 22:18] jean3x7 opened #424 "Cannot save rtf files"
When i try to save rtf files, quickpad create empty file and freeze.

[2020-06-04 12:36] DonLuke25 commented on #424
Same, I can't save .txt files!!

[2020-06-05 01:35] yaichenbaum commented on #424
Is this issue with saving existing files or is it only when saving new files?

[2020-06-05 03:18] SubjunctiveQuaver commented on #424
Existing files included for me.

[2020-06-05 08:48] DonLuke25 commented on #424
Unfortunately both. When saving a new file, it creates the file, but won't save anything into it.

[2020-06-05 18:13] jean3x7 commented on #424
Occurred with new files and save existing files, txt and rtf.

[2020-06-07 02:48] yaichenbaum commented on #424
#425 Includes a potential fix for this issue, is anyone able to help out by testing the pull request and checking if it fixes the issue?

[2020-06-07 13:43] JolyonJostar opened #426 "Chinese IME compatibility issues"
**Describe the bug**

when using Chinese IME, select bar doesn't appear in  the right place
**To Reproduce**
type anything by any Chinese IME,I don't know what exact name my IME is (maybe Bing IME),it comes with Windows 10

**Expected behavior**
it suppose to be like these (another Fluent notepad and UWP file explorer by your team)
![2](https://user-images.githubusercontent.com/61088063/83970031-e

[2020-06-09 14:45] yaichenbaum commented on #424
Quick Pad 4.4.4 is now available in the Microsoft Store.

[2020-06-09 14:45] #424 closed

[2020-06-13 05:34] B3HI13 opened #427 "unable to save"
**Describe the bug**

if u create a text file with right click on desktop, the entered content does not save. even save btn in the app does not work. ctrl + s does not work.
pls fix it. the app is very good.

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**
- OS Version:
Windows 10 1909
- App version:
4.4.3.0
**Additional context**

[2020-06-14 02:24] yaichenbaum commented on #427
@B3HI13 This issue was fixed with the 4.4.4 issue, you can get the update through the Microsoft Store.

[2020-06-14 02:24] #427 closed

[2020-06-15 13:05] yaichenbaum commented on #316
@cognitom Is this still an issue with the latest 4.4.4 update to Quick Pad?

[2020-06-15 13:05] #163 closed

[2020-06-25 05:33] Jaiganeshkumaran commented on #291
If FontFamily and FontSize aren't specified, Windows would automatically use the default font for the selected language.

[2020-06-29 15:24] Martinson1252 opened #429 "Font Bug"
Hi
I noticed when I choose font size, number in box doesn't change.
![obraz](https://user-images.githubusercontent.com/39278140/86024430-46107600-ba2d-11ea-98f2-dc6256c997fe.png)
see:
![obraz](https://user-images.githubusercontent.com/39278140/86024558-6e987000-ba2d-11ea-9463-922c9a4fcef5.png)

[2020-06-29 16:05] Martinson1252 opened #430 "Tabs and font option Features"
Hi
I want to suggest to add 2 features:

1)) Font style

![obraz](https://user-images.githubusercontent.com/39278140/86028422-2596ea80-ba32-11ea-8bdc-ede521dce609.png)

2)) Tabs

![obraz](https://user-images.githubusercontent.com/39278140/86028992-e5843780-ba32-11ea-8ede-6b80e3444b7b.png)

[2020-06-29 20:57] yaichenbaum commented on #430
@Martinson1252 Tabs are not on our todo list right now however adding an option to change the font style can definitely be done.

[2020-07-20 15:23] JavaAppleJr opened #431 "Default"
Is there a way to default Quick Pad so it never opens wordpad or notepad?

[2020-07-21 01:04] yaichenbaum commented on #431
@JavaAppleJr You can set many file types to open in Quick Pad. Let me know if you are looking for a a specific file type.

[2020-07-21 01:04] #431 closed

[2020-07-21 09:59] fxzxmicah opened #432 "More encoding formats"
I hope this software can support more encoding formats, such as GBK. In addition, I hope you can add a function to reopen files with other encoding.
Another small request is whether you can add a new text document to the new option on the right-click menu? I don't know if the native uwp application can do this, but the transposed version of office I use have the option to create a new .docx in the

[2020-07-28 04:18] Jaiganeshkumaran commented on #432
@fxzxmicah It's possible to add to the new option right-click menu in native UWP apps.

[2020-08-04 05:35] livejamie opened #433 "Open Last File"
It would be nice if Quick Pad had an open to open up the last file that was being edited on startup

Thanks!

[2020-08-08 09:53] Jaiganeshkumaran opened #434 "Question: Which is the official and active repository for Quick Pad?"
Previously the repo for Quick Pad was under the UWP community organization account but now it's under your account. However when searching for Quick Pad on GitHub there's another repository called https://github.com/fredatgithub/Quick-Pad which was last updated last year. Is this the right repository for Quick Pad? Also for some reason the old issues are closed even if their are not implemented.

[2020-08-08 10:17] Jaiganeshkumaran opened #435 "Question: Where should I add strings?"
Should I add translated strings in QuickPad.UI or QuickPad.UI.Common?

[2020-08-08 10:20] #434 closed

[2020-08-09 03:38] Jaiganeshkumaran commented on #435
@yaichenbaum This ain't enhancement. I selected it by mistake.

[2020-08-09 16:48] yaichenbaum commented on #435
@Jaiganeshkumaran QuickPad.UI.

[2020-08-09 16:48] #435 closed

[2020-08-26 07:50] Obscure-Git opened #437 "Slow"
It opens incredibly slow and when there are a few others app open it lags alot

[2020-09-09 19:12] yaichenbaum commented on #437
@Obscure-Git Sorry about the delay, is it slow when working with all kinds of files or is it only slow when working with large ones?

[2020-09-09 19:14] yaichenbaum commented on #432
@fxzxmicah You can create new text documents from the right click context menu and you should be able to open them in Quick Pad. More encoding options are possible, if someone would like to work on that, let me know and I will assign the issue.

[2020-09-09 19:16] yaichenbaum commented on #433
A continue where you left off option is possible. What would you expect to happen if the user moves or deletes the file, would you expect a blank page or would you expect a message to say that the file was deleted?

[2020-09-09 19:18] livejamie commented on #433
Just a blank page. :)

[2020-09-15 02:45] yaichenbaum opened #438 "Show status bar option doesn't save across app instances"

[2020-11-03 15:41] Brin-o commented on #433
I just wanna express my support for this as well. Opening last file, or having an "open recent file" dialogue next to the open dialogue would be great!

[2020-11-03 15:43] yaichenbaum commented on #433
This is a good feature idea, is anyone interested in working on this?

[2020-11-03 15:43] #437 closed

[2020-11-26 04:34] AkazaRenn opened #439 "Disable the splash screen"
**Is your feature request related to a problem? Please describe.**

It's not an issue but something I would like to see it have. When opening the app there will be splash screen like the one below. Since the color of the icon is mostly blue, it doesn't fit the color of my system very well, especially when it is a tool I expect to replace the native notepad.
![image](https://user-images.githubuserc

[2020-11-26 04:45] AkazaRenn opened #440 "New file icon"
**Is your feature request related to a problem? Please describe.**

Feature request, I would like a new icon for the files associated. But I'm not sure if the current one is there by design, feel free to close the issue if that's the case.

**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/8340896/100309110-12a02c00-2f78-11eb-9589-8e03da4efc36.png)
Take a ref

[2020-11-26 16:01] yaichenbaum commented on #440
@AkazaRenn The current icons were designed for Quick Pad, we don't have one for PDF files because Quick Pad doesn't support PDF files.

[2020-11-26 16:01] #440 closed

[2020-11-26 16:02] yaichenbaum commented on #439
@AkazaRenn The splash screen only shows while the app is loading, that shouldn't be very long if you are on the latest version. What version of the app do you have?

[2020-11-26 16:05] AkazaRenn commented on #439
That's 5.0.0.0, you are right it doesn't last for a very long time but would be great if it can be changed.

[2020-11-26 16:07] yaichenbaum commented on #439
There isn't any other way to configure this.

[2020-11-26 16:10] AkazaRenn commented on #439
https://stackoverflow.com/questions/47201701/removing-splash-screen-from-uwp-app-in-fall-creators-update-fcu

I think it worth a try

[2020-11-26 16:12] yaichenbaum commented on #439
@AkazaRenn Quick Pad already uses that in addition to some other optimizations, however a splash screen will still display for a little bit depending on how powerful your device is and what else is open at the time.

[2020-11-26 16:12] AkazaRenn commented on #440
No problem. I thought the file icon was designed with the old icon of the app, since the app icon has been updated so should the file icon. Never mind.

[2020-11-26 16:19] #439 closed

[2020-11-28 07:51] rashil2000 opened #441 "Release Package?"
The releases page only contains the source code. I'm trying to make a Scoop manifest for Quick-Pad. How do I get the release package (exe or msixbundle)?

[2020-11-29 00:54] yaichenbaum commented on #441
@rashil2000 You would need to compile Quick Pad from the source code for that, the reason I don't provide an msixbundle is because it will need a valid certificate for someone else to install it.

[2020-11-29 00:54] #441 closed

[2020-11-29 04:09] rashil2000 commented on #441
@yaichenbaum If it needs to recompile every time, then scoop can't install it. Scoop is just a downloader-extracter.

[2020-11-29 04:13] yaichenbaum commented on #441
I meant you would need to compile it to create the package and add your own certificate.

[2020-11-29 04:16] rashil2000 commented on #441
I was wondering how different this process is for installing other apps, like Files - Preview for example. How does it handle certificates?

[2020-11-29 04:18] yaichenbaum commented on #441
Files uses the package from the Store, however, the store version of Quick Pad has a charge so I cannot use the same package here.

[2020-11-29 05:19] rashil2000 commented on #441
@yaichenbaum Oh was it made paid recently? I have the Store-installed version but I don't think I paid for it.

Anyway, thanks for the info!

[2020-12-06 22:33] #438 closed

[2020-12-08 17:18] KristofKekesi opened #442 "[Feature] Ability to translate it to Hungarian"
Please generate the files I recuire to translate Quick-Pad to Hungarian.

[2020-12-08 17:20] yaichenbaum commented on #442
@KristofKekesi Is that hu-HU?

[2020-12-08 17:21] KristofKekesi commented on #442
yes

[2020-12-08 17:31] yaichenbaum commented on #442
@KristofKekesi I added hu-HU to the `master` branch.

[2020-12-08 17:31] #442 closed

[2020-12-08 18:04] yaichenbaum commented on #434
@Jaiganeshkumaran This is the official repository for GitHub, it's not very active anymore but it gets bug fixes every now and then.

[2020-12-08 18:05] yaichenbaum commented on #434
@Jaiganeshkumaran This is the official repository for Quick Pad, it's not very active anymore but it gets bug fixes every now and then.

[2020-12-23 08:06] AqilCont commented on #441
Ah, so we have to build it ourselves? Wouldn't it be a lot more accessible if you somehow provided prebuilt bundles if you're making it open source anyways, even without certificates? It's an awful lot of trouble for me to compile this, so just gave a suggestion. xd

[2020-12-23 16:57] yaichenbaum commented on #441
Prebuilt packages cannot be installed without a certificate.

[2020-12-23 18:25] AqilCont commented on #441
I don't have much experience, but can't we install anything with Dev Mode on Win10? We have to turn it on anyways to build it(if you are using VS). I'm getting a few errors while building(this is my first time building/dealing with anything UWP) so I was curious if the original dev, who can obv do it much better than me, can just provide the binaries for the app.

[2020-12-23 18:26] yaichenbaum commented on #441
Dev mode still requires packages to have a certificate.

[2020-12-23 18:27] AqilCont commented on #441
Ah, rip. Oh well. Sorry again!

[2021-01-02 14:59] Gaoyifei1011 opened #448 "Part of the interface language display error, display is not simplified Chinese"
Part of a display error under the three menu, not simplified Chinese.
![image](https://user-images.githubusercontent.com/49179966/103459906-36ac1580-4d4d-11eb-8b92-95a7936bab9a.png)
Expression icon shown below is not simplified Chinese
![image](https://user-images.githubusercontent.com/49179966/103459906-36ac1580-4d4d-11eb-8b92-95a7936bab9a.png)
Picture in picture mode button shows not simplified

[2021-01-02 15:00] Gaoyifei1011 commented on #448
And search is not simplified Chinese
![image](https://user-images.githubusercontent.com/49179966/103460054-44ae6600-4d4e-11eb-8932-6d19a6fe1d28.png)

[2021-01-02 15:07] Gaoyifei1011 opened #449 "At the time of search document does not automatically jump to the search results below the corresponding row or column"
At the time of search document does not automatically jump to the search results below the corresponding row or column
https://user-images.githubusercontent.com/49179966/103460178-357be800-4d4f-11eb-8b90-3b7e2c7ad687.mp4
We hope can fix the bug as soon as possible

[2021-01-02 23:32] yaichenbaum commented on #448
@Gaoyifei1011 This is because the translations are a little out of date, would you like to update the translations?

[2021-01-03 10:49] Gaoyifei1011 commented on #448
About the translation was, indeed, some out of date, and the translation would not be simplified Chinese, but other languages, want to ask the developer didn't check out the mistakes？

[2021-01-03 19:09] rafal06 opened #450 "Links in Markdown preview don't open."
**Describe the bug**
When clicking a link in markdown preview panel, the link don't open.

**To Reproduce**
1. Create in Quick Pad a link in Markdown, for example `[link](https://example.com)`
2. Open Markdown Preview by going into '... menu' and selecting Markdown Preview
3. Try to click on 'link' on the right side

**Expected behavior**
Open link in default browser

**Screenshots**
https://user-

[2021-01-21 16:25] rafal06 opened #452 "Add ability to search selected text with DuckDuckGo"
# **Is your feature request related to a problem? Please describe.**

I like ability to search selected text from context menu, but I prefer DuckDuckGo search engine.

# **Describe the solution you'd like**

Add a buton to search selected text with DuckDuckGo.

# **Describe alternatives you've considered**

Adding ability to set default search engine in settings and adding option in context menu t

[2021-01-26 15:40] d2dyno1 opened #453 "Cache unsaved text documents"
**Is your feature request related to a problem? Please describe.**
Sometimes unexpected bad things might happen and you might lose your work!

**Describe the solution you'd like**
A file cache that store upto `x1` unsaved files upto `x2`MB in size in the app location(?)

**Describe alternatives you've considered**
Caching in ram, but that might be not enough in some scenarios

**Additional context

[2021-01-31 09:21] Jlll1 commented on #452
I'd lke to work on this. But I think the best solution would be to use the default search engine.

[2021-01-31 15:30] yaichenbaum commented on #452
Searching with the default search engine would be ideal.

[2021-02-05 16:21] rafal06 opened #455 "App is not responding after trying to replace text with "find and replace""
## **Describe the bug**

When trying to find and replace something in the document, the app is not responding and RAM usage increases a lot. This problem results in loss of unsaved changes.

## **To Reproduce**

1. Type some text in the new document
2. Open "Find and replace" dialog box
3. Fill the text boxes
4. Click "replace all"

## **Expected behavior**

The text is replaced with other text th

[2021-02-07 22:56] BitmapBrother opened #456 "Unable to save Quick-Pad files when it started or created via Files App"
Hello again Yair A. here on GitHub...

Today we had a short mail contact together and you asked me in this conversation to open an issue here on GitHub for the saving bug of the Quick-Pad app. Here I am and here is the bug discription again:

The problem with Quick Pad is that I’m not able to save anything when I open a Quick Pad file in the Files App. It doesn’t matter if the Quick Pad file is a

[2021-02-28 21:37] ataberkcemunal opened #458 "How to install the app from releases?"
What should I do with that .zip file?

[2021-03-01 01:43] yaichenbaum commented on #458
@ataberkcemunal The zip file is just the code with the latest changes, you should be able to open it in Visual Studio.

[2021-03-01 01:43] #458 closed

[2021-03-25 16:55] yaichenbaum commented on #448
@Gaoyifei1011 This issue should be resolved with #459.

[2021-03-25 16:55] #448 closed

[2021-04-13 10:39] ataberkcemunal opened #460 "Download"
How to download the app with the source code? I build the .sln file but "QuickPad.UI.exe" does not open.

[2021-04-13 17:20] yaichenbaum commented on #460
@ataberkcemunal Did you build the UWP project?

[2021-04-14 17:43] ataberkcemunal commented on #460
Sorry I cannot understand, I am new at coding. Can you just tell me how to download the app with the source code?

[2021-04-14 19:06] yaichenbaum commented on #460
@ataberkcemunal Do you have the solution open in Visual Studio?

[2021-04-14 19:10] ataberkcemunal commented on #460
Yes. After I open the solution in Visual Studio and build it, I am trying to open the "QuickPad.UI.exe" but it does not open.

[2021-04-14 19:12] yaichenbaum commented on #460
@ataberkcemunal UWP applications work differently and you aren't meant to run the exe file. Does it work to open Quick Pad from the start menu?

[2021-04-14 23:37] ataberkcemunal commented on #460
I did not download it from the Microsoft Store so there is nothing in the start menu. Can't I download the app with the source codes?

[2021-04-15 00:06] yaichenbaum commented on #460
@ataberkcemunal Can you right click on the QuickPad.UI project in solution explorer and click on "Set as startup project"?

[2021-05-02 16:41] #460 closed

[2021-05-03 16:10] yaichenbaum commented on #452
I don't have any plans to implement this change.

[2021-05-03 16:10] #452 closed

[2021-05-07 02:46] yaichenbaum opened #461 "Keyboard shortcuts aren't working in focus mode"
**Describe the bug**
Keyboard shortcuts aren't working in focus mode.

**Describe the solution**
Keyboard shortcuts should be registered on MainPage instead of in the individual user controls.

[2021-05-12 05:56] Leisvan opened #462 "Weird behavior when scroll zooming"
When you use Ctrl + Mouse scroll the behavior feels quite weird. What you'd expect is a font size increase or a zoom on the entire content on the control. What happens is kind of a weird zoom with rendering flashes and the scrollbar adds new space to scroll to.
I'm not familiar with how this works internally, maybe I'm losing something here, but it certainly feels weird.

The other part is that, i

[2021-05-12 06:03] Leisvan opened #463 "More information on the 'About' section"
It would be really nice if the app had more information on the About section, like a GitHub link or a 'What's new' section. This may seem trivial, but sometimes even I get lose myself finding the app on GitHub, and the most enthusiastic users like to see what the app has in its latest updates after some time losing track of that.

Hope this helps.

[2021-05-12 06:09] Leisvan commented on #463
Sorry for the bug tag, can you tag this as feature request? Thanks 😁

[2021-05-12 17:49] yaichenbaum commented on #462
@Leisvan Can you share a screen recording of the flashes? Quick Pad uses the standard scroll viewer and it looks like it's working correctly.

[2021-05-12 18:48] BitmapBrother commented on #456
Hello and thank you for the Information…

The discribed bug is really gone and I can save now edited QuickPad files that I try to manage within the Files app. Well done!

Unfortunately I can not test if I can create new QuickPad files within the Files app because the Files app is very buggy again and this time I am not able to create a QuickPad file within the Files app. The Right-click-menu funct

[2021-05-12 19:36] yaichenbaum commented on #456
@BitmapBrother English translations will be used for strings that weren't localized. Would you like to update the German translation?

[2021-05-12 20:30] BitmapBrother commented on #456
Yes, I would like to update the German translation. But how can I do it? QuickPad shows no reactions when I change the language in the settings. It does not matter which language I choose. QuickPad displays the whole informations all the time in Portuguese (not in Spanish…sorry)…

Von: Yair Aichenbaum
Gesendet: Mittwoch, 12. Mai 2021 21:36
An: yaichenbaum/Quick-Pad
Cc: BitmapBrother; Mention
Betre

[2021-05-12 20:35] yaichenbaum commented on #456
You need to restart Quick Pad for the change to take affect.

[2021-05-12 20:47] BitmapBrother commented on #456
I’ve restarted the application a few times but it takes no effect when I choose German. I’ve tested some other language settings:

• Hebrew -> it works
• Spanish -> it works
• Arabic -> it works
• Portuguese -> it works
• French -> it works
• Tamil -> it works
• And so on…
• But German -> no Chance

Von: Yair Aichenbaum
Gesendet: Mittwoch, 12. Mai 2021 22:36
An: yaichenbaum/Quick-Pad
Cc: BitmapBro

[2021-05-13 00:41] yaichenbaum commented on #456
Can you try reinstalling Quick Pad?

[2021-05-13 09:49] BitmapBrother commented on #456
Hi Yair,

I‘ve reinstalled the QuickPad app but the behaviour of the app does not change. Please check the attachment…

Regards
Michel

Von: Yair Aichenbaum
Gesendet: Donnerstag, 13. Mai 2021 02:41
An: yaichenbaum/Quick-Pad
Cc: BitmapBrother; Mention
Betreff: Re: [yaichenbaum/Quick-Pad] Unable to save Quick-Pad files when itstarted or created via Files App (#456)

Can you try reinstalling Quick Pa

[2021-05-13 22:51] yaichenbaum commented on #456
@BitmapBrother The issue with the translations should be resolved in `main`.

[2021-05-31 07:38] SirKubiac opened #465 "German translation is not working"
**Describe the bug**
If german language is selected in settings, the app shows spanish translation.

**To Reproduce**
1. Open settings
2. change language to Deutsch
3. restart app

**Expected behavior**
All elements should be translated in german.

**Screenshots**
https://1drv.ms/u/s!AmD3NDEq3qn3ksBkYc7mjYeaR2iDQw?e=k25eU3

**Desktop (please complete the following information):**
- OS Version:  Wi

[2021-06-07 08:23] AlfarexGuy2019 opened #466 "Unable to download app from GitHub."
Hello Developers!
I hope you are all safe during the pandemic.
I recently came across this project and I liked the idea very much.
Following the download instructions as per the README.md of the repo, I navigated to the [Releases Tab](https://github.com/yaichenbaum/Quick-Pad/releases) but I couldn't find any application or any further instructions for downloading.
Support would be appreciated.
Reg

[2021-06-07 14:20] yaichenbaum commented on #466
@AlfarexGuy2019 Thank you for opening this issue, the proper way to download Quick Pad is through the [Microsoft Store](https://www.microsoft.com/store/productId/9PDLWQHTLSV3).

[2021-06-07 14:20] #466 closed

[2021-06-09 22:56] yaichenbaum commented on #465
@SirKubiac Thank you for the bug report, this issue should be resolved in `main`.

[2021-06-09 22:56] #465 closed

[2021-06-17 04:26] yaichenbaum commented on #463
@Leisvan I added a link to the release notes.

[2021-06-17 04:26] #463 closed

[2021-06-17 22:19] Leisvan commented on #462
Probably it is a system problem (UWP). When I zoom in it flashes a little bit, when I zoom out it behaves as expected.

[2021-06-17 22:36] yaichenbaum commented on #462
@Leisvan that's probably the case, keeping this in mind, I'm going to close this issue for now.

[2021-06-17 22:36] #462 closed

[2021-06-21 15:28] Gaoyifei1011 opened #467 "Parts of the interface are not Chinese"
Parts of the interface are not translated to Chinese
部分界面没有汉化
编辑菜单的“时间/日期”选项没有汉化
The "time/date" option in the edit menu is not localized
![image](https://user-images.githubusercontent.com/49179966/122784150-cab26f00-d2e4-11eb-857d-9b2d29fa40a0.png)
视图菜单的“返回默认模式”，”覆盖模式“，“Markdown 预览”选项没有汉化
View menu "back to default mode", "overlay mode", "Markdown preview" options are not translated to Chinese
![

[2021-06-22 14:44] AlfarexGuy2019 commented on #466
Could I please get a free msix installer? I want to test the app. unfortunately, I cannot install Microsoft store apps due to system file corruption. and i am unable to use VS2019 to edit the project.

[2021-06-22 15:25] AlfarexGuy2019 opened #468 "Download Issues. Requesting a *.msixbundle Installer"
@yaichenbaum Could I please get a free msix installer? I want to test the app. unfortunately, I cannot install Microsoft store apps due to system file corruption. and i am unable to use VS2019 to edit the project.

[2021-06-22 16:05] yaichenbaum commented on #468
@AlfarexGuy2019 Sorry, besides for building from the source the only way to download the app is from the Microsoft Store.

[2021-06-22 16:05] #468 closed

[2021-06-22 16:06] yaichenbaum commented on #466
@AlfarexGuy2019 Sorry, besides for building from the source the only way to download the app is from the Microsoft Store.

[2021-06-22 16:12] AlfarexGuy2019 commented on #468
okay. Thanks.

[2021-07-26 17:33] washere opened #472 "Markdown Preview as Default on Launch Toggle in Settings"
I had bought this last year in MS Store. This is one of the top few apps for Markdown Preview on Windows because it is:

* Very Capable of rendering MD well
* Dual Pane (editor + preview)
* Sync-Scroll between 2 panes
* Dark Themes
* etc etc Many good features

So i want to set this as my default app for MD so when it launches when i double-lick a .md or .markdown file.
I have other heavy MD edito

[2021-07-26 19:25] washere commented on #472
I just noticed in the:

... (3-dots) menu in top-right of app

We can set the option to show:

"Status Bar"

This works well on re-launch of app and remembers the previous session choice: if "Status Bar" was ON or OFF.

Above this in the 3-dots ... menu there is an option to set "Markdown Preview" too.
However:
This "Markdown Preview" in 3-dots menu does not work on re-launch of app.
It is not rem

[2021-07-26 20:34] yaichenbaum commented on #472
@washere this is good feedback! I'm a little busy with Files v2 right now and won't have time to work on this for a while, but if anyone else wants to work on this feature request, I'll be happy to review the PR.

[2021-07-28 01:41] washere commented on #472
Thanks buddy, if no one takes it up, no hurry, take your time. It'll make the app very popular with numerous bloggers/writers who need to quickly check lots of MD files. Thanks again.

[2021-07-28 02:08] washere commented on #472
BTW, off_topic but regarding Files, do you know what is the most useful feature of Microsoft's Explorer Files Windows for pro coders? Keyboard shortcuts:

CTRL+ALT+1   to  +8

Most used is:
CTRL+ALT+5   (List view, fit in max files in a window)
CTRL+ALT+6   (Details view, checking & sorting files by size, date etc)

Would be cool to at least have those two as keyboard shortcuts in Files.
Best wish

[2021-07-28 04:24] yaichenbaum commented on #472
@washere I believe the shortcut in File Explorer is `ctrl` + `shift` + `1 - 8` and it'll be included in Files as well when v2 is released.

[2021-07-28 21:52] washere commented on #472
It's actually both ALT & SHIFT. Whatever is easier.

[2021-09-26 04:15] zepidan opened #474 "The theme color has changed"
**Is your feature request related to a problem? Please describe.**
 when I opened it today the color of cobalt theme had changed to navy (although it still says cobalt) and the only reason I bought the program was so that I can use the cobalt theme.

**Describe the solution you'd like**
bring the old cobalt color back.

**Describe alternatives you've considered**

**Additional context**

[2021-09-26 04:43] yaichenbaum commented on #474
@zepidan the cobalt theme is the same value as before, the difference is that it's using mica instead of acrylic.

[2021-09-26 05:11] zepidan commented on #474
So when you click on the settings icon a lighter colored window to the main color pops up and that was the previous cobalt color I believe. I used the color picker on it and it says #0047AB (cobalt) and #114389? The colors now (and your example above) I feel are closer to navy/indigo. I would love to have the cobalt color back if possible... I really loved typing on it and now it's just gone. (I u

[2021-09-26 05:17] yaichenbaum commented on #474
@zepidan the value is the same as before, there opacity change may have something to do with it. I'll continue playing around to see if I can improve the theme.

[2021-09-26 05:33] zepidan commented on #474
So it's translucent and is being affected by a darker color? It's not my PC's personalization set to dark theme affecting it right? I did test different settings and it doesn't seem to matter.
![cobalt theme](https://user-images.githubusercontent.com/91402207/134794928-c80368dc-75f1-4d9f-9575-7640ad7493e2.JPG)
.
thank you!

[2021-09-26 16:34] yaichenbaum commented on #474
@zepidan correct, it's a change I made to the opacity to enable mica to work.

[2021-09-26 16:53] #474 closed

[2021-09-30 22:45] OpenRift412 opened #475 "Tabs?"
Tabs are a very desirable feature in fluent design apps, it'd be nice to see them added here as well ;)

[2021-09-30 22:46] OpenRift412 opened #476 "Line Number"
It'd also be kind of cool to see a toggle to show Line numbers next to the corresponding line (akin to Notepad++).

[2021-09-30 22:56] OpenRift412 opened #477 "ANSI Support"
To make this a more versatile text editor, it should have support for other text encoders such as ANSI, which is useful for editing batch files that use ANSI's character set for graphics.

[2021-09-30 23:49] yaichenbaum commented on #477
@OpenRift412 thanks for the request, this goes a little beyond what I had in mind for Quick Pad, but I'm open to the idea if someone is interested in working on it.

[2021-09-30 23:51] yaichenbaum commented on #476
We thought about line numbers in the past and @duke7553 opened a PR to add support but we decided against it at the time, that being said, I think line numbers would be useful so I'll approve this feature request.

[2021-09-30 23:53] yaichenbaum commented on #467
@Gaoyifei1011 would you like to update the translations?

[2021-10-01 19:18] OpenRift412 commented on #477
Well it wouldn't really require any specific tools to supplement this, just that it's able to read and save in ANSI format. It's definitely worth looking because honestly Quick Pad absolutely has the potential to be the Fluent Design equivalent of Notepad++, just without the extra bloat.

[2021-11-26 10:10] Kimbrezen opened #478 "Add & Mange Search Engine"
Adding search engines for people who use Yahoo, DuckDuckGo, Ecosia, Etc.
Also add the option to manage search engines because Bing is permanently on the context menu

[2021-11-26 19:25] #467 closed

[2021-12-16 06:50] SilverMarcs opened #479 "File Association?"
The "open with" dialog doesnt display quickpad, although opening file from inside the app works just fine.
Is this intended behaviour?

PS. I've compiled from github, its not the MS Store version.

[2021-12-16 06:54] SilverMarcs opened #480 "Non Mica text background"
Would be nice to have the background in textbox similar to Windows notepad for better overall contrast. Mica isnt a big issue here but with certain wallpapers, mica might cause color banding in the textbox area which might be q bit off-putting.

Example:

![image](https://user-images.githubusercontent.com/77480421/146322669-9bc56563-3fe8-4880-9d89-a085b506ad99.png)

[2021-12-16 14:27] yaichenbaum commented on #479
@SilverMarcs it should work fine even for the debug build, this sounds like an issue with Windows, can you report it in the Feedback Hub?

[2021-12-16 14:27] #479 closed

[2021-12-16 14:43] SilverMarcs commented on #479
Ill do that. Meanwhile, do you know how to manually select app to open with? As in where is quickpad installed when installed externally?

[2021-12-16 14:49] yaichenbaum commented on #479
It's installed in `C:\Program Files\WindowsApps`.

[2021-12-16 15:04] SilverMarcs commented on #479
I should mention that file association does work with common text files. But for something like .srt, it doesnt appear in the open with dialog. But opening from inside the app works. I cannot tell for other fil types at the moment

[2021-12-16 15:42] yaichenbaum commented on #479
That would explain it, it shouldn't be too hard to add it to the list of supported file types in the manifest, do you want to open a PR?

[2021-12-16 16:09] SilverMarcs commented on #479
Woops dont know how any of that works

[2021-12-24 04:57] yaichenbaum commented on #479
@SilverMarcs there is a manifest file with a list of supported file types, I'll try to include this in the next update.

[2022-01-07 09:49] jayruinsthings commented on #466
the Microsoft Store has been inconsistent the past 2 months of Insider dev builds. it will open in a window but not load, takes random app repairs in between my sacrifices to the Gods for rain, diet mountain dew, and being Microsoft's Beta lul. basically I wish I had a backdoor to update Store apps made by devs ala Android sideload?🤔🤪

[2022-01-10 10:29] SilverMarcs opened #481 "Make Quick-Pad come on top when a text file is opened with it"
When a file is opened with quickpad from the [Files](https://github.com/files-community/Files) app, quickpad does not automatically come on top of other apps.

I should mention that it works properly with windows file explorer. Only the FIles app exhibits this bug. The reason I am not reporting this as a Files app issue is because other apps (windows notepad/vs code) behave as intended when the sa